[2020-03-18 08:15] thaliawww-service commented on #925
In GitLab by @se-bastiaan on Sep 30, 2019, 09:04

I don't get it?

[2020-03-18 08:15] thaliawww-service commented on #925
In GitLab by @thomwiggers on Sep 30, 2019, 09:56

Compare it to the name: it's also not editable, but it's shown so you can verify what's there. I think it makes sense to do the same for the birthday; especially because "show birthday" makes little sense on it's own: it might make people think "what birthday".

[2020-03-18 08:15] thaliawww-service commented on #925
In GitLab by @se-bastiaan on Sep 30, 2019, 09:57

This description is much clearer :p

[2020-03-18 08:15] thaliawww-service commented on #925
In GitLab by @thomwiggers on Sep 30, 2019, 09:58

Typing on my ipad is not very conductive to long descriptions :P

[2020-03-18 08:15] thaliawww-service commented on #925
In GitLab by @JobDoesburg on Oct 2, 2019, 18:48

assigned to @JobDoesburg

[2020-03-18 08:15] thaliawww-service commented on #925
In GitLab by thijsdejong on Oct 2, 2019, 20:36

closed via merge request !1368

[2020-03-18 08:15] thaliawww-service commented on #925
In GitLab by thijsdejong on Oct 2, 2019, 20:36

mentioned in commit b12c7e7f82c08d61781d6e9b56464a902edd7990

[2020-03-18 08:15] #925 closed

[2020-03-18 08:15] thaliawww-service opened #926 "Show/hide birthdays button visible when not logged in"
In GitLab by @DeD1rk on Oct 1, 2019, 09:28

### One-sentence description

There is a button to show or hide birthdays one the calendar when you're not logged in, that doesn't do much.

### Current behaviour / Reproducing the bug

![image](https://gitlab.science.ru.nl//thalia/concrexit/uploads/48991f39525b51af516280c71b73357f/image.png)

### Expected behaviour

![image](https://gitlab.science.ru.nl

[2020-03-18 08:15] thaliawww-service commented on #926
In GitLab by @9Y0 on Oct 2, 2019, 18:54

assigned to @9Y0

[2020-03-18 08:16] thaliawww-service commented on #926
In GitLab by @se-bastiaan on Oct 3, 2019, 16:36

closed via merge request !1367

[2020-03-18 08:16] thaliawww-service commented on #926
In GitLab by @se-bastiaan on Oct 3, 2019, 16:36

mentioned in commit f2f0b8b0322303f96a6ea5034dc7afccfd1d31b8

[2020-03-18 08:16] #926 closed

[2020-03-18 08:16] thaliawww-service opened #927 "Not enough room for footer on small screens"
In GitLab by @9Y0 on Oct 2, 2019, 20:12

### One-sentence description
The social icons are only half shown because there is not enough room

### Current behaviour / Reproducing the bug
The footer looks like this when opened on my phone

![IMG_20191002_200711](https://gitlab.science.ru.nl//thalia/concrexit/uploads/93d59a0e31c0152ad9fa79186f840361/IMG_20191002_200711.jpg)

### Expected behaviour
The

[2020-03-18 08:16] thaliawww-service commented on #927
In GitLab by @JobDoesburg on Oct 9, 2019, 19:23

assigned to @JobDoesburg

[2020-03-18 08:16] thaliawww-service commented on #927
In GitLab by @se-bastiaan on Oct 16, 2019, 19:03

closed via merge request !1374

[2020-03-18 08:16] thaliawww-service commented on #927
In GitLab by @se-bastiaan on Oct 16, 2019, 19:03

mentioned in commit 397692f525d5ef0fe197432a5e963d3e087b8aa6

[2020-03-18 08:16] #927 closed

[2020-03-18 08:16] thaliawww-service opened #928 "Thalia Pay: Add a direct debit payment method to the payment model"
In GitLab by @se-bastiaan on Oct 3, 2019, 16:46

Subtask of #632

### One-sentence description

Add a direct debit payment method to the payment model

### Motivation

Because we want to introduce Thalia Pay (#632)

### Desired functionality

The Payment model should have an option to mark it as paid using direct debit.

### Suggested implementation

Just like the other payment methods.

[2020-03-18 08:16] thaliawww-service commented on #928
In GitLab by @JobDoesburg on Oct 9, 2019, 21:09

Check #931 Maybe we want the payments to be 'pending' while they are not in a batch

[2020-03-18 08:16] thaliawww-service commented on #928
In GitLab by @JobDoesburg on Oct 16, 2019, 19:34

assigned to @JobDoesburg

[2020-03-18 08:16] thaliawww-service commented on #928
In GitLab by @JobDoesburg on Oct 16, 2019, 19:35

Decided to not do the thing with pending. It is not only unnecessarily complicated, you also don't want to have the pending-information on the payment level. That's something for later in the process.

[2020-03-18 08:16] thaliawww-service commented on #928
In GitLab by @lukovdm on Nov 6, 2019, 19:31

closed via merge request !1380

[2020-03-18 08:16] thaliawww-service commented on #928
In GitLab by @lukovdm on Nov 6, 2019, 19:31

mentioned in commit d1b6127260609b17291ac7d21767025906e4deda

[2020-03-18 08:16] #928 closed

[2020-03-18 08:16] thaliawww-service opened #929 "Thalia Pay: Export payment batches for ING"
In GitLab by @se-bastiaan on Oct 3, 2019, 16:49

Subtask of #632, partially blocked by #930.

### One-sentence description

Export payment batches for ING for #632.

### Motivation

Because we want Thalia Pay (#632).

### Desired functionality

Export option for payment batches in the right format. These batches can be used to execute a direct debit batch.

### Suggested implementation

- Need to

[2020-03-18 08:16] thaliawww-service commented on #929
In GitLab by @JobDoesburg on Oct 9, 2019, 21:07

Is it wise to update the 'last used' value upon export of payments? I think it is weird to do these actions on file download.

Maybe it is better to create a new kind of object, something like 'payment batch' that contains a group of payments. That would be more versatile and allows the board to be more flexible if necessary.

- Payments can only be

[2020-03-18 08:16] thaliawww-service commented on #929
In GitLab by nvoers on Oct 9, 2019, 21:20

I've checked with the ING. That list is correct apart from the order(to avoid struggles in the future). Correct order: Account holder name, IBAN, Mandate id, Amount, Description, Mandate date.

[2020-03-18 08:16] thaliawww-service commented on #929
In GitLab by @se-bastiaan on Oct 10, 2019, 08:42

Thanks for the extensive input :)

[2020-03-18 08:16] thaliawww-service commented on #929
In GitLab by @JobDoesburg on Oct 16, 2019, 19:36

We're not doing this, read comment on #930

[2020-03-18 08:16] thaliawww-service commented on #929
In GitLab by @gijshendriksen on Oct 23, 2019, 21:17

assigned to @gijshendriksen

[2020-03-18 08:16] thaliawww-service commented on #929
In GitLab by @gijshendriksen on Nov 6, 2019, 19:04

unassigned @gijshendriksen

[2020-03-18 08:16] thaliawww-service commented on #929
In GitLab by @lukovdm on Nov 6, 2019, 19:26

assigned to @lukovdm

[2020-03-18 08:16] thaliawww-service commented on #929
In GitLab by @lukovdm on Nov 13, 2019, 22:49

* [x] Add filter for batches to payments
 * [x] Show batch in payments
 * [x] Don't change batch when processed

[2020-03-18 08:16] thaliawww-service opened #930 "Thalia Pay: Export financial information that can be imported to Conscribo"
In GitLab by @se-bastiaan on Oct 3, 2019, 16:51

### One-sentence description

Export financial information that can be imported to Conscribo

### Motivation

Because we want to introduce Thalia Pay (#632)

### Desired functionality

Have an option to export financial payment information that can be imported in Conscribo. We currently have an export option but the use format cannot be used with Co

[2020-03-18 08:16] thaliawww-service commented on #930
In GitLab by @JobDoesburg on Oct 9, 2019, 21:14

Since Conscribo is <s>quite</s> *really* crappy and you do not want to rely on it too much, I think it is best to just export an overview of all payments grouped per event / pizza event / contribution. That can be implemented using a payment batch as described in the comments of in #931 . The treasurer will copy paste this per batch to Conscribo by

[2020-03-18 08:17] thaliawww-service commented on #930
In GitLab by @lukovdm on Nov 27, 2019, 17:38

assigned to @lukovdm

[2020-03-18 08:17] thaliawww-service opened #931 "Thalia Pay: Add an option to events for users to mark their registration as paid using direct debit."
In GitLab by @se-bastiaan on Oct 3, 2019, 16:53

Subtask of #632, partially blocked by #930.

### One-sentence description

Add an option to events for users to mark their registration as paid using direct debit.

### Motivation

Because we want Thalia Pay (#632).

### Desired functionality

Payment option on the user side.

### Suggested implementation

Have a button on the event page that has th

[2020-03-18 08:17] thaliawww-service commented on #931
In GitLab by @JobDoesburg on Oct 16, 2019, 20:20

assigned to @JobDoesburg

[2020-03-18 08:17] thaliawww-service commented on #931
In GitLab by @lukovdm on Nov 6, 2019, 19:31

closed via merge request !1380

[2020-03-18 08:17] thaliawww-service commented on #931
In GitLab by @lukovdm on Nov 6, 2019, 19:31

mentioned in commit d1b6127260609b17291ac7d21767025906e4deda

[2020-03-18 08:17] #931 closed

[2020-03-18 08:17] thaliawww-service opened #932 "Thalia Pay: Add an option to pizzas for users to mark their order as paid using direct debit."
In GitLab by @se-bastiaan on Oct 3, 2019, 16:58

Subtask of #632, partially blocked by #930.

### One-sentence description

Add an option to pizzas for users to mark their order as paid using direct debit.

### Motivation

Because we want Thalia Pay (#632).

### Desired functionality

Payment option on the user side. And option to see the value in the admin.

### Suggested implementation

Have a b

[2020-03-18 08:17] thaliawww-service commented on #932
In GitLab by @JobDoesburg on Oct 16, 2019, 20:20

assigned to @JobDoesburg

[2020-03-18 08:17] thaliawww-service commented on #932
In GitLab by @lukovdm on Nov 6, 2019, 19:31

closed via merge request !1380

[2020-03-18 08:17] thaliawww-service commented on #932
In GitLab by @lukovdm on Nov 6, 2019, 19:31

mentioned in commit d1b6127260609b17291ac7d21767025906e4deda

[2020-03-18 08:17] #932 closed

[2020-03-18 08:17] thaliawww-service opened #933 "Sync mailinglists using Google Admin SDK"
In GitLab by @se-bastiaan on Oct 7, 2019, 13:02

### One-sentence description

Sync mailinglists using Google Admin SDK

### Motivation

Because we switch to GSuite

### Desired functionality

Sync the mailinglists to

### Suggested implementation

We currently have a syncmailinglists scripts in the serverconfig repo that uses the mailinglists API. Instead of syncing to Mailman we want it to sync

[2020-03-18 08:17] thaliawww-service commented on #933
In GitLab by @se-bastiaan on Oct 7, 2019, 13:02

This issue is a bit WIP, since we don't know how to use the Admin SDK yet and if you always give access to every function.

https://developers.google.com/admin-sdk/
https://developers.google.com/admin-sdk/directory/v1/quickstart/python

[2020-03-18 08:17] thaliawww-service commented on #933
In GitLab by @se-bastiaan on Oct 15, 2019, 09:08

assigned to @se-bastiaan

[2020-03-18 08:17] thaliawww-service commented on #933
In GitLab by @lukovdm on Oct 24, 2019, 12:10

closed via merge request !1379

[2020-03-18 08:17] thaliawww-service commented on #933
In GitLab by @lukovdm on Oct 24, 2019, 12:10

mentioned in commit c772f1b4d7835604f5b858a8cccbf5672feb7f21

[2020-03-18 08:17] thaliawww-service commented on #933
In GitLab by @lukovdm on Oct 24, 2019, 12:30

mentioned in commit 1dc7278dffef9888553f79f807ce681977f9486f

[2020-03-18 08:17] #933 closed

[2020-03-18 08:17] thaliawww-service opened #934 "Suggest registration time at event creation"
In GitLab by @pingiun on Oct 14, 2019, 17:05

### One-sentence description
I would like to show event organisers to not open registration at 13:37 but at 12:30.

### Motivation
Event organisers often open registrations at 13:37, but this is a time when many people have lectures, so a suggestion text at this field would help with that.

### Desired functionality
Help text at registration opening ti

[2020-03-18 08:17] thaliawww-service commented on #934
In GitLab by @se-bastiaan on Oct 15, 2019, 08:14

I do not believe the help text of a field is the best solution. If you want to create awareness for this issue you should discuss this with the event organisers.

[2020-03-18 08:17] thaliawww-service commented on #934
In GitLab by @pingiun on Oct 22, 2019, 20:58

Event organisers should already be aware of this issue, the help text is just to remind them

[2020-03-18 08:17] thaliawww-service commented on #934
In GitLab by @se-bastiaan on Oct 22, 2019, 20:59

Shouldn't the problem be solved then?

[2020-03-18 08:17] thaliawww-service commented on #934
In GitLab by @se-bastiaan on Oct 24, 2019, 22:19

closed via merge request !1387

[2020-03-18 08:17] thaliawww-service commented on #934
In GitLab by @se-bastiaan on Oct 24, 2019, 22:19

mentioned in commit 4d9e96f13b1ea9ab6aa95c4caab4918a83ef2735

[2020-03-18 08:17] #934 closed

[2020-03-18 08:17] thaliawww-service opened #935 "Thalia Pay: Add an option to membership registrations to pay with Thalia Pay"
In GitLab by @JobDoesburg on Oct 16, 2019, 20:24

### One-sentence description

Add an option to membership renewals and registrations to pay with Thalia Pay

### Motivation

Everyone wants to do this via Thalia Pay remotely!

### Desired functionality

During registration (or after registration is approved, which is easier to build but less user friendly) people should have the possibility to imm

[2020-03-18 08:18] thaliawww-service commented on #935
In GitLab by @JobDoesburg on Oct 23, 2019, 18:55

assigned to @JobDoesburg

[2020-03-18 08:18] thaliawww-service commented on #935
In GitLab by @JobDoesburg on Oct 23, 2019, 18:55

unassigned @JobDoesburg

[2020-03-18 08:18] thaliawww-service opened #936 "Thalia Pay: Add an option to membership renewals to pay with Thalia Pay"
In GitLab by @JobDoesburg on Oct 16, 2019, 20:26

### One-sentence description

Add an option to membership renewals to pay with Thalia Pay

### Motivation

Because everyone wants to pay their contribution remotely via Thalia Pay and not come to a bbq

### Desired functionality

Just a 'Pay with Thalia Pay' button while requesting membership renewal (if a bank account is added, otherwise show a me

[2020-03-18 08:18] thaliawww-service commented on #936
In GitLab by @JobDoesburg on Oct 23, 2019, 18:55

assigned to @JobDoesburg

[2020-03-18 08:18] thaliawww-service commented on #936
In GitLab by @JobDoesburg on Oct 23, 2019, 18:55

unassigned @JobDoesburg

[2020-03-18 08:18] thaliawww-service commented on #936
In GitLab by @JobDoesburg on Oct 30, 2019, 22:43

assigned to @JobDoesburg

[2020-03-18 08:18] thaliawww-service commented on #936
In GitLab by @JobDoesburg on Nov 13, 2019, 20:14

Will be implemented this way:

In the email stating that the renewal has been accepted, people will find a URL 'pay with Thalia Pay'

[2020-03-18 08:18] thaliawww-service opened #937 "AttributeError: module 'firebase_admin.messaging' has no attribute 'ApiCallError'"
In GitLab by _thaliatechnicie on Oct 17, 2019, 15:30

Sentry Issue: [CONCREXIT-12](https://sentry.io/organizations/thalia/issues/1279980295/?referrer=gitlab_integration)

[code]

[2020-03-18 08:18] thaliawww-service commented on #937
In GitLab by @lukovdm on Oct 19, 2019, 09:21

closed via merge request !1381

[2020-03-18 08:18] thaliawww-service commented on #937
In GitLab by @lukovdm on Oct 19, 2019, 09:21

mentioned in commit 027b7ee2eb762ccbe8fbe4f86cd2a982d521876b

[2020-03-18 08:18] thaliawww-service commented on #937
In GitLab by @lukovdm on Oct 19, 2019, 09:22

mentioned in commit 5b8bd1ce06b2754d424bc2f790b346c410c321f4

[2020-03-18 08:18] #937 closed

[2020-03-18 08:18] thaliawww-service opened #938 "event registration terms and conditions link broken"
In GitLab by nvoers on Oct 21, 2019, 11:49

### One-sentence description

event registration terms and conditions link

### Current behaviour / Reproducing the bug

redirect to event itself

### Expected behaviour

redirect to event registration terms and conditions

[2020-03-18 08:18] thaliawww-service commented on #938
In GitLab by @se-bastiaan on Oct 24, 2019, 17:38

closed via merge request !1388

[2020-03-18 08:18] thaliawww-service commented on #938
In GitLab by @se-bastiaan on Oct 24, 2019, 17:38

mentioned in commit 90ae873486f878eda69c74c2813b4d664367f758

[2020-03-18 08:18] thaliawww-service commented on #938
In GitLab by @se-bastiaan on Oct 24, 2019, 19:17

mentioned in commit 7402106719af392c3dc69f0a248f5472caf44032

[2020-03-18 08:18] #938 closed

[2020-03-18 08:18] thaliawww-service opened #939 "Remove utf-8 coding"
In GitLab by @pingiun on Oct 22, 2019, 16:01

### One-sentence description
Some files contain the line `# -*- coding: utf-8 -*-`, but this is not needed

### Why?
In Python 3 the default encoding of source files is utf-8, and editors will auto detect the encoding.

### Current implementation
Some files contain the line `# -*- coding: utf-8 -*-`

### Suggested implementation
Remove all `# -*- codin

[2020-03-18 08:18] thaliawww-service commented on #939
In GitLab by @thomwiggers on Oct 23, 2019, 10:34

The problem is that "auto-detecting UTF-8" is optimistic. If you don't use any fancy characters, it's not really possible to decide if a file is ASCII or UTF-8, unless you take the windows approach, inserting the byte-order mark (which is extremely ugly and often breaks things). The coding: UTF-8 thing helps some editors decide to use UTF-8, wich s

[2020-03-18 08:18] thaliawww-service commented on #939
In GitLab by @se-bastiaan on Oct 23, 2019, 11:16

`docs/conf.py` is also an auto-generated file by `sphinx-quickstart` according to the header.

[2020-03-18 08:18] thaliawww-service commented on #939
In GitLab by @thomwiggers on Oct 23, 2019, 11:17

Yeah, but `sphinx-quickstart` we only ran once when we started the `docs/` folder :P

[2020-03-18 08:18] thaliawww-service commented on #939
In GitLab by @se-bastiaan on Oct 23, 2019, 11:18

That is right. We could remove it there. Migrations though, I'd rather not touch those.

[2020-03-18 08:18] thaliawww-service commented on #939
In GitLab by lschernthaner on Nov 6, 2019, 18:58

assigned to (at)lschernthaner

[2020-03-18 08:18] thaliawww-service commented on #939
In GitLab by @se-bastiaan on Nov 6, 2019, 21:09

closed via merge request !1411

[2020-03-18 08:18] thaliawww-service commented on #939
In GitLab by @se-bastiaan on Nov 6, 2019, 21:09

mentioned in commit 968c9005a90581c5a678d738045c6cd27ade6a74

[2020-03-18 08:18] #939 closed

[2020-03-18 08:18] thaliawww-service opened #940 "Thalia Pay: Only allow revocation of mandates if all payments were processed"
In GitLab by @JobDoesburg on Oct 23, 2019, 20:37

### One-sentence description

Only allow revocation of mandates if all Thalia Pay payments were processed (the batch were all payments are in should be processed)

### Motivation

Because legally from the moment a mandate is revoked, we cannot use it anymore. And users of course cannot revoke their mandate if they still have open amounts (or actual

[2020-03-18 08:19] thaliawww-service opened #941 "Thalia Pay: also enable late-cancellation fines to happen with Thalia Pay"
In GitLab by @JobDoesburg on Oct 23, 2019, 21:40

### One-sentence description

Also enable late-cancellation fines to happen with Thalia Pay

### Motivation

Because it is weird to do let this happen via invoices if people normally can pay with Thalia Pay

### Desired functionality

Currently if somebody wants has said to pay with Thalia Pay, but cancels, we delete the payment.
After the event, t

[2020-03-18 08:19] thaliawww-service commented on #941
In GitLab by @se-bastiaan on Oct 25, 2019, 11:56

The treasurer is able to manually create payments in the admin so I believe this would already be possible.
And they can always add the payment to the batch manually.

[2020-03-18 08:19] thaliawww-service opened #942 "Synchronise activemembers with G Suite"
In GitLab by @se-bastiaan on Oct 25, 2019, 12:42

### One-sentence description

Synchronise activemembers with G Suite

### Motivation

Because then we can migrate to Google Drive instead of Thalia Cloud.

### Desired functionality

Sync of member email addresses according to the `is_staff` status.

### Suggested implementation

Use signals to find out when users are changed
- They get `is_staff`

[2020-03-18 08:19] thaliawww-service commented on #942
In GitLab by @se-bastiaan on Oct 25, 2019, 12:42

assigned to @se-bastiaan

[2020-03-18 08:19] thaliawww-service commented on #942
In GitLab by @lukovdm on Nov 27, 2019, 19:49

mentioned in commit 21d48ead7ab42edcef12a20aceaeda8b7615f983

[2020-03-18 08:19] thaliawww-service commented on #942
In GitLab by @lukovdm on Nov 27, 2019, 19:49

closed via merge request !1396

[2020-03-18 08:19] #942 closed

[2020-03-18 08:19] thaliawww-service opened #943 "Putting society chair 'role' in a mailing list"
In GitLab by touwerkerk on Oct 25, 2019, 15:14

### One-sentence description

I would like a way to be able to put "chair of society X" in a mailing list.

### Motivation

Societies will get emails with stuff like "Hey, can I join?" or "Hi, I have some questions", but there are a bunch of members that do not need (or want) to get these. Right now there is a mailing list with just the chair of the

[2020-03-18 08:19] thaliawww-service commented on #943
In GitLab by @gijshendriksen on Oct 25, 2019, 15:18

Maybe we could generate a mailinglist with the chair of each member group automatically? For instance, if the member group has mailinglist `adventurers`, we could generate the mailinglist `adventurers-chair`. And then we'd do this for all member groups that have selected a chair?

Another option is to add a checkbox to enable generation of this

[2020-03-18 08:19] thaliawww-service commented on #943
In GitLab by @se-bastiaan on Oct 25, 2019, 15:31

Putting a role inside a mailinglist would be rather complex. Especially since you also really want that mailinglist with all the members as well.

I do like Gijs' first option. The checkbox won't be really necessary imo since member groups could just choose to not use the list and just leave it be. We just iterate over the member groups, if it has

[2020-03-18 08:19] thaliawww-service commented on #943
In GitLab by @joren485 on Oct 30, 2019, 10:26

I am against this change. If someone is part of a group (whether that is a committee or society), mail about that group is always relevant to them. Members should be aware of what is going on in their group.

This change will also make it very easy for members to miss important information about the group they are in, because someone only emailed the

[2020-03-18 08:19] thaliawww-service commented on #943
In GitLab by @se-bastiaan on Oct 30, 2019, 10:31

I do agree with your point. Especially when looking at how the committees that I am/have been a part of. You want to make sure everyone in the committee is included. That is probably the same for societies. However, I understand the use-case for this society in particular though. Mostly because it is a society that exists of multiple subgroups. Sin

[2020-03-18 08:19] thaliawww-service commented on #943
In GitLab by @joren485 on Oct 30, 2019, 10:33

If it is only relevant to one society, I suggest manually creating a mailinglist in the backend and manually updating that list when necessary.

[2020-03-18 08:19] thaliawww-service commented on #943
In GitLab by @se-bastiaan on Oct 30, 2019, 10:37

That's the current solution indeed. If @lukovdm agrees I think we may be able to close this. Unless someone else has a powerful argument of course.

[2020-03-18 08:19] thaliawww-service commented on #943
In GitLab by @lukovdm on Oct 30, 2019, 15:39

As long there are no other memeber groups that need this feature at the moment we will keep it the same. If other member groups also need this we will reconsider implementing it.

[2020-03-18 08:19] thaliawww-service commented on #943
In GitLab by @lukovdm on Oct 30, 2019, 15:39

closed

[2020-03-18 08:19] #943 closed

[2020-03-18 08:19] thaliawww-service opened #944 "Create automated newsletter mailinglists"
In GitLab by @joren485 on Oct 30, 2019, 10:28

### One-sentence description
Create automated newsletter mailinglists

### Motivation
The G Suite SMTP relay does not support sending mail to more than 100 distinct addresses, but it does support sending mails to specific groups with more than 100 members.

### Desired functionality
A mailinglist containing everyone that wants to receive the Dutch new

[2020-03-18 08:19] thaliawww-service commented on #944
In GitLab by @se-bastiaan on Oct 30, 2019, 10:36

The other solution would be to send the newsletters one by one to each member. If we do this we have to find the right settings for this specific mailinglist to make sure it does not have to be moderated.

[2020-03-18 08:19] thaliawww-service commented on #944
In GitLab by @se-bastiaan on Oct 30, 2019, 10:39

It may be possible to mark a certain 'From' as always allowed to post to a group btw. That may be the solution.

[2020-03-18 08:19] thaliawww-service commented on #944
In GitLab by @joren485 on Oct 30, 2019, 12:12

Is this also a problem with other mails (e.g the `sendinformationcheck` mail)?

[2020-03-18 08:19] thaliawww-service commented on #944
In GitLab by @se-bastiaan on Oct 30, 2019, 12:14

No those are individual, maybe some other mails though

[2020-03-18 08:19] thaliawww-service commented on #944
In GitLab by @se-bastiaan on Oct 30, 2019, 20:03

removed milestone

[2020-03-18 08:19] thaliawww-service commented on #944
In GitLab by @lukovdm on Nov 13, 2019, 19:37

closed via merge request !1410

[2020-03-18 08:19] thaliawww-service commented on #944
In GitLab by @lukovdm on Nov 13, 2019, 19:37

mentioned in commit cd119f81bd6e4f1c706f1053ab558dc0cf80f1f9

[2020-03-18 08:19] thaliawww-service commented on #944
In GitLab by @lukovdm on Nov 13, 2019, 20:23

mentioned in commit e63673e63a1cd90794c5f02285317bace6ab181f

[2020-03-18 08:19] #944 closed

[2020-03-18 08:20] thaliawww-service opened #945 "Member can be accepted and have paid, but status is not completed"
In GitLab by _thaliatechnicie on Oct 30, 2019, 19:21

This ValueError happens sometimes while processing payments for new members or renewals. I'm not quite sure how to reproduce it, but sometimes when setting a registration or renewal to paid. The status of the renewal or registration will afterwards be "Accepted" instead of "Completed", and a 500 error is shown.

Sentry Issue: [CONCREXIT-H](http

[2020-03-18 08:20] thaliawww-service commented on #945
In GitLab by @pingiun on Nov 11, 2019, 14:46

@lukovdm Is it okay to make this a medium or high priority bug?

This bug happened again today, and the user was accepted and had paid but no user was created because the username was already taken. We got contacted by the user, but otherwise we would probably have not noticed

[2020-03-18 08:20] thaliawww-service commented on #945
In GitLab by @se-bastiaan on Nov 11, 2019, 16:35

The issue that we're looking at here is only related to registrations, you can see this in the Sentry exceptions and look at the `next` value in the body. The issue is that during the approval the username in the registration entry is not saved somehow. This is not caused by the username already being taken at that point. Because that is one step e

[2020-03-18 08:20] thaliawww-service commented on #945
In GitLab by @se-bastiaan on Nov 11, 2019, 16:48

https://gitlab.science.ru.nl/thalia/concrexit/blob/master/website%2Fregistrations%2Fservices.py#L150

Maybe `is None` is not right here in this check.

[2020-03-18 08:20] thaliawww-service commented on #945
In GitLab by @JobDoesburg on Dec 5, 2019, 13:45

I very much think that this is related to #966, which gives a different error but ends up in a similar situation. Check that issue to see how to reproduce it

[2020-03-18 08:20] thaliawww-service commented on #945
In GitLab by @pingiun on Feb 3, 2020, 13:05

Happened another time: https://sentry.io/organizations/thalia/issues/1372921592/?referrer=gitlab_integration

[2020-03-18 08:20] thaliawww-service opened #946 "Production build executes tests"
In GitLab by @se-bastiaan on Oct 30, 2019, 20:56

### One-sentence description

Production build executes tests

### Current behaviour / Reproducing the bug

During production build the tests are executed, but the tests contain dev dependencies so the build fails.

### Expected behaviour

No tests

[2020-03-18 08:20] thaliawww-service commented on #946
In GitLab by @se-bastiaan on Nov 16, 2019, 17:22

closed via merge request !1423

[2020-03-18 08:20] thaliawww-service commented on #946
In GitLab by @se-bastiaan on Nov 16, 2019, 17:23

mentioned in commit bb1eaaaa68b4055786aab6b47f990ce7e0bf72b7

[2020-03-18 08:20] #946 closed

[2020-03-18 08:20] thaliawww-service opened #947 "Thalia Pay: Add user-instructions for activating in bankaccounts"
In GitLab by @JobDoesburg on Oct 30, 2019, 21:09

### One-sentence description

Add information about Thalia Pay to bankaccounts

### Motivation

People should know what Thalia Pay is and how to activate it.

### Desired functionality

Something about that if you sign a direct debit, it will be used for Thalia Pay etc.

### Suggested implementation

Maybe ask the board? Or just come up with someth

[2020-03-18 08:20] thaliawww-service opened #948 "Limit usernames to 64 characters"
In GitLab by @se-bastiaan on Oct 30, 2019, 21:33

### One-sentence description

Limit usernames to 64 characters

### Why?

GSuite usernames have this maximum length

### Current implementation

Standard Django 150 characters

### Suggested implementation

Add validators in the registrations and members admin forms.

[2020-03-18 08:20] thaliawww-service commented on #948
In GitLab by @se-bastiaan on Nov 6, 2019, 23:24

assigned to @se-bastiaan

[2020-03-18 08:20] thaliawww-service commented on #948
In GitLab by @lukovdm on Nov 27, 2019, 19:49

closed via merge request !1396

[2020-03-18 08:20] thaliawww-service commented on #948
In GitLab by @lukovdm on Nov 27, 2019, 19:49

mentioned in commit 21d48ead7ab42edcef12a20aceaeda8b7615f983

[2020-03-18 08:20] #948 closed

[2020-03-18 08:20] thaliawww-service opened #949 "Support dark mode (using CSS prefers-color-scheme: dark)"
In GitLab by @JobDoesburg on Oct 31, 2019, 01:36

### One-sentence description

Support dark mode (using CSS prefers-color-scheme: dark)

### Motivation

Light hurts our eyes. Light costs power #durability.
Dark is awesome.

### Desired functionality

Turn the Thalia website into an awesome dark mode

### Suggested implementation

CSS media feature `prefers-color-scheme: dark`

[2020-03-18 08:20] thaliawww-service commented on #949
In GitLab by @se-bastiaan on Oct 31, 2019, 10:37

:crying_cat_face:

I'm not sure if it is theoretically possible to override colour variables, in that case this should be really easy. Just saying that I'm not going to do this because I don't see any value except for destroying the carefully crafted design.

[2020-03-18 08:20] thaliawww-service commented on #949
In GitLab by @JobDoesburg on Oct 31, 2019, 10:45

you miswrote enriching it with a dark color scheme that perfectly well fits in the Thalia styleguide

Sounds like something fun to try for me, so I'll try this out as soon as my first steps in Thalia Pay are done. So for now I'll leave it unassigned in case anyone else would like to try it out.

[2020-03-18 08:20] thaliawww-service commented on #949
In GitLab by @JobDoesburg on Oct 31, 2019, 11:40

Okay I couldn't wait so I tried and this works:

We can make a new `main-dark.scss` file that uses a new `variables-dark.scss` file. In the base template we add `<link href="{% static "css/main-dark.scss" %}" rel="stylesheet" media="(prefers-color-scheme: dark)" type="text/x-scss">`.

That's it. Or well, then we need to search through all css that

[2020-03-18 08:20] thaliawww-service commented on #949
In GitLab by @JobDoesburg on Nov 6, 2019, 20:53

assigned to @JobDoesburg

[2020-03-18 08:20] thaliawww-service commented on #949
In GitLab by @lukovdm on Jan 29, 2020, 20:45

closed via merge request !1413

[2020-03-18 08:20] thaliawww-service commented on #949
In GitLab by @lukovdm on Jan 29, 2020, 20:45

mentioned in commit 86edba4e4b05bc380091908e308ae299e0a7ff21

[2020-03-18 08:20] thaliawww-service commented on #949
In GitLab by @lukovdm on Jan 30, 2020, 14:08

reopened

[2020-03-18 08:20] thaliawww-service commented on #949
In GitLab by @LCKnol on Mar 4, 2020, 20:33

closed via merge request !1480

[2020-03-18 08:20] thaliawww-service commented on #949
In GitLab by @LCKnol on Mar 4, 2020, 20:33

mentioned in commit 86c595995872ad5f559c73bbc3be549fdbbb4ef5

[2020-03-18 08:21] #949 closed

[2020-03-18 08:21] thaliawww-service opened #950 "/usr/local/thalia/concrexit/manage.py.sh sync_mailinglists"
In GitLab by _thaliatechnicie on Nov 2, 2019, 11:46

Sentry Issue: [SERVER-2S](https://sentry.io/organizations/thalia/issues/1308881852/?referrer=gitlab_integration)

[code]

[2020-03-18 08:21] thaliawww-service commented on #950
In GitLab by @se-bastiaan on Nov 3, 2019, 12:57

Read the error incorrect and this is just a 404

[2020-03-18 08:21] thaliawww-service commented on #950
In GitLab by @se-bastiaan on Nov 3, 2019, 12:57

closed

[2020-03-18 08:21] #950 closed

[2020-03-18 08:21] thaliawww-service opened #951 "Events cannot be edited when guest registrations were added"
In GitLab by @se-bastiaan on Nov 3, 2019, 12:15

### One-sentence description

Events cannot be edited when guest registrations were added

### Current behaviour / Reproducing the bug

1. Create an event and publish
2. Add a guest registration
3. Edit the event
4. Crashes on the save of the push notification, the guest registration is `null`

### Expected behaviour

The guest registration should b

[2020-03-18 08:21] thaliawww-service commented on #951
In GitLab by @se-bastiaan on Nov 3, 2019, 12:22

https://sentry.io/share/issue/b0219dbc112e428898b01da9b89d6f53/

[2020-03-18 08:21] thaliawww-service commented on #951
In GitLab by @BluePython339 on Nov 13, 2019, 19:00

assigned to @BluePython339

[2020-03-18 08:21] thaliawww-service commented on #951
In GitLab by @se-bastiaan on Jan 25, 2020, 22:45

unassigned @BluePython339

[2020-03-18 08:21] thaliawww-service opened #952 "No loggers defined for any of our apps"
In GitLab by @pingiun on Nov 3, 2019, 23:20

### One-sentence description

Anything that is logged by concrexit isn't saved anywhere, only exceptions seem to be logged, this could be due to sentry.

### Current behaviour / Reproducing the bug

[code]

I tried this in an urls.py because it's always loaded, and with production settings this message is not logged. This is because `LOGGING` in `settin

[2020-03-18 08:21] thaliawww-service commented on #952
In GitLab by @pingiun on Nov 3, 2019, 23:48

assigned to @pingiun

[2020-03-18 08:21] thaliawww-service commented on #952
In GitLab by @lukovdm on Nov 6, 2019, 18:50

closed via merge request !1409

[2020-03-18 08:21] thaliawww-service commented on #952
In GitLab by @lukovdm on Nov 6, 2019, 18:50

mentioned in commit 5fe141d2f8e2ec430b6955beebf8c4d42d8f3b17

[2020-03-18 08:21] thaliawww-service commented on #952
In GitLab by @lukovdm on Nov 13, 2019, 21:56

mentioned in commit 6019ae5cfcba9bcce49c5636d394278a855c3fcc

[2020-03-18 08:21] #952 closed

[2020-03-18 08:21] thaliawww-service opened #953 "Logging format is not informative"
In GitLab by @pingiun on Nov 3, 2019, 23:28

### One-sentence description

Both logfile logging and console logging are not very informative, for different reasons.

### Why?

Because `logfile` logging has no format, only the message is printed without any context. `logfile` and `console` could both use the same logging format.

The `%(module)s` logging attribute does not print the fully qualified

[2020-03-18 08:21] thaliawww-service commented on #953
In GitLab by @pingiun on Nov 3, 2019, 23:48

assigned to @pingiun

[2020-03-18 08:21] thaliawww-service commented on #953
In GitLab by @lukovdm on Nov 6, 2019, 18:50

closed via merge request !1409

[2020-03-18 08:21] thaliawww-service commented on #953
In GitLab by @lukovdm on Nov 6, 2019, 18:50

mentioned in commit 5fe141d2f8e2ec430b6955beebf8c4d42d8f3b17

[2020-03-18 08:21] thaliawww-service commented on #953
In GitLab by @lukovdm on Nov 13, 2019, 21:56

mentioned in commit 6019ae5cfcba9bcce49c5636d394278a855c3fcc

[2020-03-18 08:21] #953 closed

[2020-03-18 08:21] thaliawww-service opened #954 "Block changing your email address in the administration to members.thalia.nu"
In GitLab by @se-bastiaan on Nov 4, 2019, 14:16

### One-sentence description

Block changing your email address in the administration to members.thalia.nu

### Current behaviour / Reproducing the bug

Users can change their email address to members.thalia.nu.

### Expected behaviour

No changing to addresses using this domain. Since we do not want these addresses in the administration. We cannot

[2020-03-18 08:21] thaliawww-service commented on #954
In GitLab by @se-bastiaan on Nov 4, 2019, 14:16

assigned to @se-bastiaan

[2020-03-18 08:21] thaliawww-service commented on #954
In GitLab by @se-bastiaan on Nov 4, 2019, 14:16

unassigned @se-bastiaan

[2020-03-18 08:21] thaliawww-service commented on #954
In GitLab by @se-bastiaan on Nov 4, 2019, 14:17

Best way to do this is probably to add a blocklist functionality in the email change and user email forms (for users we do not want to override the user model) and define this list in settings.

[2020-03-18 08:21] thaliawww-service commented on #954
In GitLab by @se-bastiaan on Nov 4, 2019, 14:21

That is:

- https://gitlab.science.ru.nl/thalia/concrexit/blob/master/website/members/forms.py#L113
- https://gitlab.science.ru.nl/thalia/concrexit/blob/master/website/members/forms.py#L51
- https://gitlab.science.ru.nl/thalia/concrexit/blob/master/website/members/models.py#L651

something like

`if any(domain in email for domain in settings.EMAIL_D

[2020-03-18 08:21] thaliawww-service commented on #954
In GitLab by @se-bastiaan on Nov 6, 2019, 23:24

assigned to @se-bastiaan

[2020-03-18 08:22] thaliawww-service commented on #954
In GitLab by @lukovdm on Nov 27, 2019, 19:49

closed via merge request !1396

[2020-03-18 08:22] thaliawww-service commented on #954
In GitLab by @lukovdm on Nov 27, 2019, 19:49

mentioned in commit 21d48ead7ab42edcef12a20aceaeda8b7615f983

[2020-03-18 08:22] #954 closed

[2020-03-18 08:22] thaliawww-service opened #955 "API authentication returns 400 when providing the wrong credentials"
In GitLab by @gijshendriksen on Nov 6, 2019, 19:22

### One-sentence description

The API `/token-auth/` returns a 400 status code when the user passed incorrect credentials, which makes it unclear why the request was denied.

### Why?

To make use of the correct HTTP status code, which could clarify the reason an authentication request was denied.

### Current implementation

`/token-auth/` retur

[2020-03-18 08:22] thaliawww-service commented on #955
In GitLab by @9Y0 on Nov 6, 2019, 20:11

assigned to @9Y0

[2020-03-18 08:22] thaliawww-service commented on #955
In GitLab by @se-bastiaan on Nov 6, 2019, 20:58

closed via merge request !1412

[2020-03-18 08:22] thaliawww-service commented on #955
In GitLab by @se-bastiaan on Nov 6, 2019, 20:58

mentioned in commit fdb6c13e1db4741b45b16235352228b8a16195b5

[2020-03-18 08:22] #955 closed

[2020-03-18 08:22] thaliawww-service opened #956 "Euro signs not encoded correctly in newsletter html"
In GitLab by @pingiun on Nov 10, 2019, 18:35

### One-sentence description

![image](https://gitlab.science.ru.nl//thalia/concrexit/uploads/783baa0d1e318650f84c39f27f463cc9/image.png)

Not sure if this also happens in the email newsletter because I haven't received that one for a while.

[2020-03-18 08:22] thaliawww-service commented on #956
In GitLab by @se-bastiaan on Nov 11, 2019, 15:34

I think it may not be encoded correctly in the file that we save to disk

[2020-03-18 08:22] thaliawww-service commented on #956
In GitLab by lschernthaner on Nov 13, 2019, 18:52

assigned to (at)lschernthaner

[2020-03-18 08:22] thaliawww-service commented on #956
In GitLab by @se-bastiaan on Nov 13, 2019, 22:00

closed via merge request !1420

[2020-03-18 08:22] thaliawww-service commented on #956
In GitLab by @se-bastiaan on Nov 13, 2019, 22:00

mentioned in commit cb15e55ca99ed349618eeae75673689a4907f0f6

[2020-03-18 08:22] #956 closed

[2020-03-18 08:22] thaliawww-service opened #957 "Remove Payment type None"
In GitLab by @JobDoesburg on Nov 13, 2019, 20:54

### One-sentence description

Remove Payment type None

### Why?

It is weird to have payment objects for payments that not yet have taken place. It makes much more sense to just have no payment then.

### Current implementation

For registrations, we now make payments for every accepted registration, and change the type when it really is paid.

##

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @se-bastiaan on Nov 17, 2019, 00:15

mentioned in commit 8e44cbd94ba2b6ce4708a91ca4621d2fbb75814b

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @se-bastiaan on Nov 17, 2019, 13:27

mentioned in commit f3c83f9c771533da3ee35a94892fe45d2df34226

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @mtsatsev on Nov 20, 2019, 20:10

assigned to @mtsatsev

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @mtsatsev on Dec 4, 2019, 19:08

unassigned @mtsatsev

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @se-bastiaan on Jan 8, 2020, 20:31

mentioned in commit f2f7de77cad420fc9922d8665a8664a4fdc17323

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @se-bastiaan on Jan 8, 2020, 20:39

mentioned in commit 0735192decbed1255a5cf4dd45b668881275c7f1

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @se-bastiaan on Jan 8, 2020, 20:56

mentioned in commit 60b433c4215b4fdacdaf6c52c348a6ea9f88f46c

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @se-bastiaan on Jan 8, 2020, 21:09

mentioned in commit 720a246640fad09bb46537644c0f3c2a05255a68

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @se-bastiaan on Jan 8, 2020, 21:10

mentioned in commit c08cb449df4b7a3dfee7de242eb86b2dc926806d

[2020-03-18 08:22] thaliawww-service commented on #957
In GitLab by @se-bastiaan on Jan 22, 2020, 16:28

mentioned in commit b3b0c03f7b7ed6b63f03b12a29de54e47e4f92af

[2020-03-18 08:22] thaliawww-service opened #958 "Almanac entry page"
In GitLab by @JobDoesburg on Nov 14, 2019, 11:36

### One-sentence description

Make a page where people can enter things for the almanac of next year.

### Motivation

A lustrum is coming. The lustrum also involves an almanac. The almanaccie wants people to (opt in) appear in the almanac with a photo and, for example, a quote, etc.

Google Forms are mweh because uploads don't work very well and p

[2020-03-18 08:22] thaliawww-service commented on #958
In GitLab by @joren485 on Nov 14, 2019, 11:43

Why is this better than having an email address where people can send their stories, quotes, photos, etc?

[2020-03-18 08:23] thaliawww-service commented on #958
In GitLab by @JobDoesburg on Nov 14, 2019, 11:47

We want yearbook-style pages, where we want to have a picture and limited-character quotes. This will allow us to easily export everything and generate the pages in indesign. An emailaddress would mean that we need to manually copy-paste everything to a spreadsheet, check whether it is of the correct length, etc.

[2020-03-18 08:23] thaliawww-service commented on #958
In GitLab by @JobDoesburg on Nov 14, 2019, 11:48

So we would definitely prefer a Google Form over an emailaddress

[2020-03-18 08:23] thaliawww-service commented on #958
In GitLab by @se-bastiaan on Nov 14, 2019, 12:16

For me this is the perfect example of feature creep that can perfectly be executed using other methods just as well that do not require so much work.

[2020-03-18 08:23] thaliawww-service commented on #958
In GitLab by @se-bastiaan on Nov 14, 2019, 12:19

That does not mean you cannot do this. Instead of integrating this into concrexit and then removing it again you could create this using our capable APIs to provide authentication and user information retrieval.

[2020-03-18 08:23] thaliawww-service commented on #958
In GitLab by @JobDoesburg on Nov 14, 2019, 12:55

Did not yet think about that...

[2020-03-18 08:23] thaliawww-service commented on #958
In GitLab by @JobDoesburg on Dec 5, 2019, 13:46

closed

[2020-03-18 08:23] thaliawww-service commented on #958
In GitLab by @lukovdm on Mar 11, 2020, 19:29

mentioned in commit 3f19a834434b9d47fd96d1ab6f8cfdb95e84f12a

[2020-03-18 08:23] #958 closed

[2020-03-18 08:23] thaliawww-service opened #959 "Remove cancelled registrations from personal ICAL feed."
In GitLab by @joren485 on Nov 17, 2019, 16:50

### One-sentence description
Cancelled registrations are included in the personal ICAL feed.

### Expected behaviour
Cancelled registrations are not included in the personal ICAL feed.

[2020-03-18 08:23] thaliawww-service commented on #959
In GitLab by @9Y0 on Nov 20, 2019, 18:41

assigned to @9Y0

[2020-03-18 08:23] thaliawww-service commented on #959
In GitLab by @se-bastiaan on Nov 20, 2019, 21:39

closed via merge request !1428

[2020-03-18 08:23] thaliawww-service commented on #959
In GitLab by @se-bastiaan on Nov 20, 2019, 21:39

mentioned in commit bb5d56771de1251b8f0b841c9e3d98b4e25eb449

[2020-03-18 08:23] #959 closed

[2020-03-18 08:23] thaliawww-service opened #960 "Support GIFs as profile pictures"
In GitLab by jguijt on Nov 19, 2019, 13:07

Is it pronounced gif or jif?

[2020-03-18 08:23] thaliawww-service commented on #960
In GitLab by @se-bastiaan on Nov 27, 2019, 19:51

closed

[2020-03-18 08:23] thaliawww-service commented on #960
In GitLab by jguijt on Nov 28, 2019, 10:31

reopened

[2020-03-18 08:23] thaliawww-service commented on #960
In GitLab by jguijt on Nov 28, 2019, 10:31

Not fixed yet

[2020-03-18 08:23] thaliawww-service commented on #960
In GitLab by jguijt on Nov 28, 2019, 10:32

Seksgod Sebbie zei dat het nodig is om dan 1MB plaatjes te supporten, maar:
* Je kan ook GIFs alleen als avatar gebruiken, naast een standaard profielfoto. Zo hoeft een GIF niet 1000x1000 te zijn.
* Je kan ook een geheugenlimiet stellen op de grootte van GIFs, zodat jullie je geen zorgen hoeven te maken over compression etc.

[2020-03-18 08:23] thaliawww-service commented on #960
In GitLab by @se-bastiaan on Nov 28, 2019, 10:39

https://stackoverflow.com/questions/41718892/pillow-resizing-a-gif

[2020-03-18 08:23] thaliawww-service opened #961 "Make mailinglist deletion safer/better informed"
In GitLab by @pingiun on Nov 20, 2019, 13:12

### Motivation
Currently deleting a mailinglist will disable the group on gsuite, but delete the list on the website. This means that the name can be added as an alias for another list on the website, but gsuite will not support his, so we have a syncing error.

We could do an actual deletion on gsuite, and preserve archives another way. Or make sure t

[2020-03-18 08:23] thaliawww-service opened #962 "Renewals not processed correctly on uniqueness constraint for membership id"
In GitLab by @JobDoesburg on Nov 20, 2019, 20:08

### One-sentence description

Renewals not processed correctly on uniqueness constraint for membership id

### Current behaviour / Reproducing the bug

1. Do a renewal for 1 year
2. Approve it, add a payment, finish it fully etc
3. Do a renewal for the rest of your study
4. Approve it
5. Process a payment
6. Breakage

(the payment gets processed, t

[2020-03-18 08:23] thaliawww-service opened #963 "sync_mailinglists errors"
In GitLab by @joren485 on Nov 26, 2019, 11:36

### One-sentence description
The `sync_mailinglists` generates many errors.

### Description

Currently, the `sync_mailinglists` generates many errors (see the [server sentry issues](https://sentry.io/organizations/thalia/issues/?project=1470866)).
These should either be caught or the underlying bug should be fixed.

[2020-03-18 08:23] thaliawww-service commented on #963
In GitLab by @joren485 on Dec 5, 2019, 15:14

Because we released v29.1 today (which includes the G Suite user sync), we resolved all issues. We will have to see which issues are still present in the current version.

[2020-03-18 08:23] thaliawww-service commented on #963
In GitLab by @se-bastiaan on Dec 18, 2019, 19:40

Most issues we currently only have left are 503 errors from the API and ConnectionResetErrors so we should just ignore those because it retries later.

[2020-03-18 08:23] thaliawww-service opened #964 "Login message visible for events without registration"
In GitLab by lschernthaner on Nov 27, 2019, 19:49

### One-sentence description

A message and button are shown to log in to register for an event even when it is not possible to register for the event

### Current behaviour / Reproducing the bug

1. Visit the Thalia website without logging in
2. Find an event for which you cannot register (e.g. a borrel)
3. You see "You have to log in before you

[2020-03-18 08:23] thaliawww-service commented on #964
In GitLab by @LCKnol on Feb 12, 2020, 20:13

assigned to @LCKnol

[2020-03-18 08:23] thaliawww-service commented on #964
In GitLab by @se-bastiaan on Feb 19, 2020, 21:47

closed via merge request !1500

[2020-03-18 08:24] thaliawww-service commented on #964
In GitLab by @se-bastiaan on Feb 19, 2020, 21:48

mentioned in commit a1c1b476dcb6a8432d0808b8a7bb19f1351fc2ef

[2020-03-18 08:24] #964 closed

[2020-03-18 08:24] thaliawww-service opened #965 "Make Thabloid .pdf only available for authenticated users"
In GitLab by @JobDoesburg on Dec 3, 2019, 16:44

### One-sentence description

Thabloids are crawable by Google, and we discussed that we rather not have that.

### Current behaviour / Reproducing the bug

Google crawls our Thabloids. You can search for text fragments

### Expected behaviour

Not have them appear in Google.
We do not necessarily have them only available on login, but add them to r

[2020-03-18 08:24] thaliawww-service commented on #965
In GitLab by @joren485 on Dec 3, 2019, 17:12

Small note: we currently do not have a `robots.txt` file.

[2020-03-18 08:24] thaliawww-service commented on #965
In GitLab by @se-bastiaan on Dec 3, 2019, 17:39

Who is 'we'? Thabloidcie?

Maybe we should just put the Thabloids behind the authentication completely? I'm guessing that Google is indexing the PDF files.

[2020-03-18 08:24] thaliawww-service commented on #965
In GitLab by @JobDoesburg on Dec 4, 2019, 12:02

We = thabloidcie yeah.

Authentication is also fine to me I guess. Also curious on (at)jdusseljee's opinion on this. Do partners check the thabloid on the website? (Probably not)

[2020-03-18 08:24] thaliawww-service commented on #965
In GitLab by @joren485 on Dec 4, 2019, 12:05

In my year as commissioner of external affairs recruiters did check the Thabloid on the website.

[2020-03-18 08:24] thaliawww-service commented on #965
In GitLab by wtheunisse on Dec 5, 2019, 11:42

Don't really have an opinion on this, but would like to add that I've heard about first years students who read the Thabloid (not having an account) before deciding they wanted to study here.

[2020-03-18 08:24] thaliawww-service commented on #965
In GitLab by jdusseljee on Dec 5, 2019, 12:02

I also know that some recruiters check the Thabloid on the website.
Especially Recruiters who are interested in placing promotions in the
Thabloid like to see it in advance.

[2020-03-18 08:24] thaliawww-service opened #966 "Update to Django 3"
In GitLab by @joren485 on Dec 4, 2019, 18:58

### Description

Django 3 has been [released](https://docs.djangoproject.com/en/3.0/releases/3.0/).

[2020-03-18 08:24] thaliawww-service commented on #966
In GitLab by @pingiun on Dec 4, 2019, 20:25

This is blocked on https://pypi.org/project/django-localflavor/ and https://pypi.org/project/django-compressor/2.3/ at least because they use the six vendored library

[2020-03-18 08:24] thaliawww-service commented on #966
In GitLab by @se-bastiaan on Dec 29, 2019, 12:41

I don't see django-localflavor using django's six but it has not been released since Python 2 support was removed https://github.com/django/django-localflavor/search?utf8=%E2%9C%93&q=six&type=. Status of compressor is here https://github.com/django-compressor/django-compressor/pull/964

[2020-03-18 08:24] thaliawww-service commented on #966
In GitLab by @se-bastiaan on Jan 8, 2020, 23:55

Django compressor was updated to 2.4 :thumbsup: !1458

[2020-03-18 08:24] thaliawww-service commented on #966
In GitLab by @se-bastiaan on Jan 15, 2020, 14:53

django-localflavor has been updated by updating to the master of the github repo. Now the CI has surfaced django-libsass as not having updated the references to the staticfiles module. There should be an update available though https://github.com/torchbox/django-libsass/blob/master/CHANGELOG.txt

[2020-03-18 08:24] thaliawww-service commented on #966
In GitLab by @joren485 on Jan 19, 2020, 21:57

The tests return a lot of deprecation warnings that features we use will be removed in Django 3.0. Those should be addressed also.

[2020-03-18 08:24] thaliawww-service commented on #966
In GitLab by @se-bastiaan on Jan 21, 2020, 15:03

```/usr/local/lib/python3.8/site-packages/django/contrib/staticfiles/templatetags/staticfiles.py:24: RemovedInDjango30Warning: {% load staticfiles %} is deprecated in favor of {% load static %}.``` that's all and it references itself.

[2020-03-18 08:24] thaliawww-service commented on #966
In GitLab by @joren485 on Feb 19, 2020, 20:02

Closed by !1479

[2020-03-18 08:24] thaliawww-service commented on #966
In GitLab by @joren485 on Feb 19, 2020, 20:02

closed

[2020-03-18 08:24] #966 closed

[2020-03-18 08:24] thaliawww-service opened #967 "Hyperlink of "display [event] on website" button always refers to thalia.nu (also on staging)"
In GitLab by @JobDoesburg on Dec 4, 2019, 19:26

### One-sentence description

Hyperlink of "display [event] on website" button <s>is hardcoded</s> always refers to thalia.nu (also on staging)
### Current behaviour / Reproducing the bug

At staging.thalia.nu, the action button "display on website" (in the events admin) refers to thalia.nu

### Expected behaviour

Be a relative url (to staging.thal

[2020-03-18 08:24] thaliawww-service commented on #967
In GitLab by @se-bastiaan on Dec 4, 2019, 20:10

Could you change the issue to reflect that this is not really hardcoded (at)jdoesburg? Since you apparently already found that out.

[2020-03-18 08:24] thaliawww-service commented on #967
In GitLab by @se-bastiaan on Dec 4, 2019, 20:11

This is the actual response of one such buttons:
[code]

[2020-03-18 08:24] thaliawww-service commented on #967
In GitLab by @JobDoesburg on Dec 4, 2019, 20:11

You did, I didn't

[2020-03-18 08:24] thaliawww-service commented on #967
In GitLab by @se-bastiaan on Jan 25, 2020, 21:48

This is also the case for localhost

[code]

[2020-03-18 08:24] thaliawww-service commented on #967
In GitLab by @se-bastiaan on Jan 25, 2020, 22:05

So the actual reason is the Django sites framework. https://docs.djangoproject.com/en/3.0/ref/contrib/sites/
Since we insert the default site in [a migration](https://gitlab.science.ru.nl/thalia/concrexit/blob/master/website%2Fthaliawebsite%2Fmigrations%2F0001_initial.py) and define `SITE_ID` in settings the url is set for every environment.

[2020-03-18 08:25] thaliawww-service commented on #967
In GitLab by @se-bastiaan on Jan 25, 2020, 22:36

We could remove the database model and content type. Then migrate `thaliawebsite` to `zero` so that we can remove the complete app from `INSTALLED_APPS`. Which has my preference over setting the domain to a different value for every  environment or just keeping it like it is now. Especially since we do not use this functionality. What do you think?

[2020-03-18 08:25] thaliawww-service opened #968 "Automatically set referral event-slide hyperlink to event page"
In GitLab by @JobDoesburg on Dec 4, 2019, 19:29

### One-sentence description

Automatically set referral event-slide hyperlink to event page

### Motivation

Usability

### Desired functionality

If you set a slide to be an event slide, automatically fill in the hyperlink field with a URL to the event page (and maybe also auto fill in the title to be the event title?)

### Suggested implementatio

[2020-03-18 08:25] thaliawww-service commented on #968
In GitLab by @se-bastiaan on Dec 4, 2019, 19:35

I'm not sure I understand correctly. The reference for an  slide is made from the event side. Do you want to autofill these values when you create it while adding an event? Since you're not selecting the event while creating the slide.

[2020-03-18 08:25] thaliawww-service commented on #968
In GitLab by @JobDoesburg on Dec 4, 2019, 20:01

If you add the event, and within that form also add the event slide, it should be autofilled.

[2020-03-18 08:25] thaliawww-service commented on #968
In GitLab by @se-bastiaan on Dec 4, 2019, 20:12

Okay that is not really easy to do.

[2020-03-18 08:25] thaliawww-service commented on #968
In GitLab by @JobDoesburg on Dec 4, 2019, 20:13

I never gave it an 'easy and fun' label

[2020-03-18 08:25] thaliawww-service opened #969 "Bug: 'view site' from event detail admin forwards to wrong url"
In GitLab by @JobDoesburg on Dec 4, 2019, 19:43

### One-sentence description

Improve navigation between admin views for event admin

### Motivation

Currently it works terrible.

### Desired functionality

On save, go to the view that makes sense instead of very often go back to the event overview.

Also maybe provide buttons that take you to the event detail overview page, or to the frontend vi

[2020-03-18 08:25] thaliawww-service commented on #969
In GitLab by @se-bastiaan on Dec 18, 2019, 19:14

This should be specified better. The edit view currently goes back to the previous page where you clicked on 'edit'. And there is a 'view on site' option in the edit view already?

[2020-03-18 08:25] thaliawww-service opened #970 "/api/v1/token-auth does not return json on login failure"
In GitLab by @pingiun on Dec 4, 2019, 19:46

### One-sentence description
`/api/v1/token-auth` returns plain text when wrong credentials are used

### Current behaviour / Reproducing the bug
1. Post wrong credentials to `/api/v1/token-auth`
2. "Unauthorized" is returned

### Expected behaviour
Json object should be returned

[2020-03-18 08:25] thaliawww-service commented on #970
In GitLab by @9Y0 on Feb 12, 2020, 20:56

assigned to @9Y0

[2020-03-18 08:25] thaliawww-service commented on #970
In GitLab by @se-bastiaan on Feb 20, 2020, 08:45

closed via merge request !1492

[2020-03-18 08:25] thaliawww-service commented on #970
In GitLab by @se-bastiaan on Feb 20, 2020, 08:45

mentioned in commit 77987a55732c08de4730e03e9948064c11be4f31

[2020-03-18 08:25] #970 closed

[2020-03-18 08:25] thaliawww-service opened #971 "Use html email template for all emails we send"
In GitLab by @JobDoesburg on Dec 4, 2019, 20:04

### One-sentence description

Use html email template for all emails we send

### Why?

It looks nice

### Current implementation

We only send plaintext mails, except for the information check emails

### Suggested implementation

Use the information check email template

[2020-03-18 08:25] thaliawww-service commented on #971
In GitLab by @mtsatsev on Feb 19, 2020, 20:02

assigned to @mtsatsev

[2020-03-18 08:25] thaliawww-service commented on #971
In GitLab by @mtsatsev on Feb 19, 2020, 21:13

unassigned @mtsatsev

[2020-03-18 08:25] thaliawww-service opened #972 "Remove obsolete permissions"
In GitLab by @se-bastiaan on Dec 4, 2019, 21:29

### One-sentence description

Remove obsolete permissions that are left from removed things

### Why?

They're obsolete!

### Current implementation

We have the sentry backend, access to the board wiki and soon the nextcloud admin permissions.

### Suggested implementation

Should be removed.

[2020-03-18 08:25] thaliawww-service opened #973 "Event admin view does not include 'user-tools' like other admin templates"
In GitLab by @JobDoesburg on Dec 4, 2019, 22:47

### One-sentence description

Event admin view does not include 'user-tools' like other admin templates

### Current behaviour / Reproducing the bug

Check an event admin details page. It does not contain the 'Welcome user, view website, change password, log out' user tools that all other admin pages do contain.

### Expected behaviour

Correctly ex

[2020-03-18 08:25] thaliawww-service commented on #973
In GitLab by @se-bastiaan on Dec 18, 2019, 19:29

assigned to @9Y0

[2020-03-18 08:25] thaliawww-service commented on #973
In GitLab by @se-bastiaan on Dec 18, 2019, 19:30

This is not a problem with the extension, rather with the context not being complete.

[2020-03-18 08:25] thaliawww-service commented on #973
In GitLab by @se-bastiaan on Feb 19, 2020, 19:38

closed via merge request !1483

[2020-03-18 08:25] thaliawww-service commented on #973
In GitLab by @se-bastiaan on Feb 19, 2020, 19:38

mentioned in commit 88f1de42884264f054dbeb00466683a15f80eb8e

[2020-03-18 08:25] #973 closed

[2020-03-18 08:25] thaliawww-service opened #974 "Login page visible when logged-in"
In GitLab by @se-bastiaan on Dec 5, 2019, 13:13

### One-sentence description

Login page visible when logged-in

### Current behaviour / Reproducing the bug

1. You can visit the login page (and probably other pages related to it) while authenticated

### Expected behaviour
The page should redirect to home or something.

[2020-03-18 08:25] thaliawww-service commented on #974
In GitLab by @LCKnol on Jan 15, 2020, 19:44

assigned to @LCKnol

[2020-03-18 08:25] thaliawww-service commented on #974
In GitLab by @se-bastiaan on Feb 5, 2020, 21:24

closed via merge request !1486

[2020-03-18 08:25] thaliawww-service commented on #974
In GitLab by @se-bastiaan on Feb 5, 2020, 21:24

mentioned in commit 4f4d1d231000a2c8673359a7af7f7e93c99f88f8

[2020-03-18 08:25] #974 closed

[2020-03-18 08:26] thaliawww-service opened #975 "Thalia Pay process button enabled in payments widget even though TPAY_ENABLED=False"
In GitLab by @se-bastiaan on Dec 5, 2019, 13:14

### One-sentence description

Thalia Pay process button enabled in payments admin even though TPAY_DISABLED

### Current behaviour / Reproducing the bug

1. I can click the process button in for a membership registration
2. It crashes

### Expected behaviour

1. I cannot click it
2. If I should be able to click it, it should not crash.

[2020-03-18 08:26] thaliawww-service commented on #975
In GitLab by @JobDoesburg on Dec 5, 2019, 13:38

assigned to @JobDoesburg

[2020-03-18 08:26] thaliawww-service commented on #975
In GitLab by @JobDoesburg on Dec 5, 2019, 13:42

Where do you exactly do this? On staging, the button is disabled for me... Or do you mean a different button?

![Schermafbeelding_2019-12-05_om_13.40.18](https://gitlab.science.ru.nl//thalia/concrexit/uploads/42f99388e0c459eabebed19278bddabf/Schermafbeelding_2019-12-05_om_13.40.18.png)

[2020-03-18 08:26] thaliawww-service commented on #975
In GitLab by @se-bastiaan on Dec 5, 2019, 13:44

In the widget that is used in the ~registrations admin

![Screenshot_2019-12-05_at_13.44.21](https://gitlab.science.ru.nl//thalia/concrexit/uploads/73fe499d136ea46b965637a8d009cffa/Screenshot_2019-12-05_at_13.44.21.png)

[2020-03-18 08:26] thaliawww-service commented on #975
In GitLab by @se-bastiaan on Jan 25, 2020, 22:50

unassigned @JobDoesburg

[2020-03-18 08:26] thaliawww-service commented on #975
In GitLab by @mariesophiesimon on Feb 19, 2020, 19:05

assigned to @mariesophiesimon

[2020-03-18 08:26] thaliawww-service commented on #975
In GitLab by @mariesophiesimon on Feb 19, 2020, 19:13

created branch [`980-thalia-pay-process-button-enabled-in-payments-widget-even-though-tpay_enabled-false`](/thalia/concrexit/compare/master...980-thalia-pay-process-button-enabled-in-payments-widget-even-though-tpay_enabled-false) to address this issue

[2020-03-18 08:26] thaliawww-service commented on #975
In GitLab by @se-bastiaan on Feb 19, 2020, 21:48

closed via merge request !1501

[2020-03-18 08:26] thaliawww-service commented on #975
In GitLab by @se-bastiaan on Feb 19, 2020, 21:48

mentioned in commit ead6d6273e26355442a6c59f5e460bef7850c27e

[2020-03-18 08:26] #975 closed

[2020-03-18 08:26] thaliawww-service opened #976 "Missing colors in statistics committee chart"
In GitLab by @JobDoesburg on Dec 5, 2019, 13:57

### One-sentence description

We ran out of colors for all our committees

### Current behaviour / Reproducing the bug

Check the middle graph in https://thalia.nu/members/statistics/

### Expected behaviour

We can just reuse other colors in my opinion. Or decide on which colors to use based on the total number of colors required (if 1 → magenta, i

[2020-03-18 08:26] thaliawww-service commented on #976
In GitLab by @LCKnol on Jan 8, 2020, 20:09

assigned to @LCKnol

[2020-03-18 08:26] thaliawww-service commented on #976
In GitLab by @LCKnol on Jan 8, 2020, 21:07

created merge request !1456 to address this issue

[2020-03-18 08:26] thaliawww-service commented on #976
In GitLab by @se-bastiaan on Jan 8, 2020, 22:43

closed via commit 55608e30c5b819072b60ebd382cfa875db133ca3

[2020-03-18 08:26] thaliawww-service commented on #976
In GitLab by @se-bastiaan on Jan 8, 2020, 23:00

mentioned in commit 55608e30c5b819072b60ebd382cfa875db133ca3

[2020-03-18 08:26] #976 closed

[2020-03-18 08:26] thaliawww-service opened #977 "Update members translations"
In GitLab by @joren485 on Dec 5, 2019, 14:31

### One-sentence description
Add the missing translations and update translations with mismatched punctuation/capitals (e.g. "Address:" and "adres") in the members app.

[2020-03-18 08:26] thaliawww-service commented on #977
In GitLab by @joren485 on Jan 29, 2020, 21:21

I honestly do not know what missing translations in the members app I referred to. I cannot find my example anymore either.

[2020-03-18 08:26] thaliawww-service commented on #977
In GitLab by @joren485 on Jan 29, 2020, 21:21

closed

[2020-03-18 08:26] #977 closed

[2020-03-18 08:26] thaliawww-service opened #978 "Guest registrations can not be marked paid"
In GitLab by @lukovdm on Dec 5, 2019, 15:28

### One-sentence description

When there is a guest registration for an event that has a price. If this person is marked as paid, an error occurs.

Associated sentry error: [https://sentry.io/organizations/thalia/issues/1372921592/?project=1463433&referrer=slack](https://sentry.io/organizations/thalia/issues/1372921592/?project=1463433)

### Current beh

[2020-03-18 08:26] thaliawww-service commented on #978
In GitLab by @se-bastiaan on Dec 6, 2019, 14:47

Different issue

[2020-03-18 08:26] thaliawww-service commented on #978
In GitLab by @LCKnol on Feb 12, 2020, 19:39

assigned to @LCKnol

[2020-03-18 08:26] thaliawww-service commented on #978
In GitLab by @LCKnol on Feb 12, 2020, 19:53

I can't reproduce this. I've created an event with registrations and a price, when I register a guest at Home>events>event-name>add I can enter a name, save and mark this guest as paid. The page then reloads fine, and the payment is still there after closing and reopening the page.

[2020-03-18 08:26] thaliawww-service opened #979 "Add link to the G Suite Knowledge Base"
In GitLab by @joren485 on Dec 5, 2019, 17:04

### One-sentence description
Add link to the [G Suite Knowledge Base](https://gsuite.members.thalia.nu/) in the "for members" menu.

[2020-03-18 08:26] thaliawww-service commented on #979
In GitLab by @mtsatsev on Feb 19, 2020, 19:55

closed by !1472

[2020-03-18 08:27] thaliawww-service commented on #979
In GitLab by @mtsatsev on Feb 19, 2020, 19:55

closed

[2020-03-18 08:27] #979 closed

[2020-03-18 08:27] thaliawww-service opened #980 "Automatically send email with G Suite calendar id invite to member on joining committee"
In GitLab by @JobDoesburg on Dec 6, 2019, 14:23

### One-sentence description

To prevent ourselves from explaining this over and over

### Desired functionality

If a members joins a committee they will receive an email from Thalia stating 'hey you have joined committee x, fun times, here you also have the calendar stream for this committee'

### Suggested implementation

Probably we will need to

[2020-03-18 08:27] thaliawww-service commented on #980
In GitLab by @se-bastiaan on Dec 6, 2019, 14:32

This increases the required maintenance and introduces more tasks for us. The whole idea of G Suite is that we decrease our workload. With documentation the committees should be able to organise this themselves. And if they do not want to use the Google Calendar we created then that is fine. They can add individual addresses to the calendar or creat

[2020-03-18 08:27] thaliawww-service commented on #980
In GitLab by @JobDoesburg on Dec 6, 2019, 14:53

I really really think that people will keep sending www(at)thalia.nu emails requesting access to their calendar because they forgot the ID (this is what I also always said in case of problems I couldn't solve in 1 minute: just send an email). By including it in concrexit, we only need to store it once when we create it (we need to create the calenda

[2020-03-18 08:27] thaliawww-service commented on #980
In GitLab by @JobDoesburg on Dec 6, 2019, 16:22

So required maintance: yeah maybe, like every feature.

More tasks for us: no, less tasks. It only is work for us when we create the stream (which is exactly once, and that is already done manually). And throughout the year it is less tasks

[2020-03-18 08:27] thaliawww-service commented on #980
In GitLab by @joren485 on Dec 6, 2019, 16:30

There are too many edge cases for this to work properly. A lot of committees/societies might not want a calendar. Some committees/societies might want many calendars (e.g. every separate D&D group).

I completely agree with @se-bastiaan that committees should be able to handle this themselves.

[2020-03-18 08:27] thaliawww-service commented on #980
In GitLab by @se-bastiaan on Dec 18, 2019, 19:11

I think the way you created calendar for the almanac committee shows that we're unable to control who has which calendar.

[2020-03-18 08:27] thaliawww-service commented on #980
In GitLab by @Legosteen11 on Feb 19, 2020, 20:27

I think this would be way too complicated. The best solution I came up with was adding an "Administration" part to the committee pages where these calendar invites could be shared or something. This would still be a bad solution because then the commissioner of internal affairs has to update this, or we have to add a feature to let the committee ch

[2020-03-18 08:27] thaliawww-service opened #981 "internal server error on adding slide to event"
In GitLab by @JobDoesburg on Dec 12, 2019, 13:23

### One-sentence description

Adding a slide to an event produces an internal server error

### Current behaviour / Reproducing the bug

1. Add a slide
2. Try to select the slide in the event
3. Profit

### Expected behaviour

Do not crash

[2020-03-18 08:27] thaliawww-service commented on #981
In GitLab by @se-bastiaan on Dec 12, 2019, 13:48

This error is completely unrelated to the slides. I have created an issue from Sentry #989 with the stack trace.

[2020-03-18 08:27] thaliawww-service commented on #981
In GitLab by @se-bastiaan on Dec 12, 2019, 13:48

closed

[2020-03-18 08:27] #981 closed

[2020-03-18 08:27] thaliawww-service opened #982 "Cannot save events with participants"
In GitLab by _thaliatechnicie on Dec 12, 2019, 13:47

Sentry Issue: [CONCREXIT-1P](https://sentry.io/organizations/thalia/issues/1375339372/?referrer=gitlab_integration)

[code]

[2020-03-18 08:27] thaliawww-service commented on #982
In GitLab by @pingiun on Dec 13, 2019, 15:07

closed via merge request !1440

[2020-03-18 08:27] thaliawww-service commented on #982
In GitLab by @pingiun on Dec 13, 2019, 15:07

mentioned in commit a1aba7653d675ecf6a3c2bb6c177b1fcb59c4dec

[2020-03-18 08:27] thaliawww-service commented on #982
In GitLab by @pingiun on Dec 13, 2019, 15:41

mentioned in commit 02e28b63d4054b30a241770a5bb1e70a94157cf0

[2020-03-18 08:27] #982 closed

[2020-03-18 08:27] thaliawww-service opened #983 "Style guide links are broken"
In GitLab by @pingiun on Dec 18, 2019, 15:03

### One-sentence description
Download links in the style guide, e.g. https://cloud.thalia.nu/s/NP6T7cpfiAHqBXb, don't work anymore.

### Current behaviour / Reproducing the bug
In the style guide there are some links that link to the Thalia cloud, these downloads have either been expired or have been removed.

### Expected behaviour
The links download

[2020-03-18 08:27] thaliawww-service commented on #983
In GitLab by @se-bastiaan on Dec 29, 2019, 13:12

We currently cannot share complete folders like we were doing with Nextcloud. It is in development according to https://support.google.com/a/table/7539891. So we may want to create zip files in the Paparazcie drive that can be shared.

[2020-03-18 08:27] thaliawww-service opened #984 "Members that have been `minimizeinformation`ed before don't have contact information"
In GitLab by @pingiun on Dec 19, 2019, 14:51

### One-sentence description
Members should fill in their information again when renewing after a information minimisation has happened.

### Motivation
There are currently some members that do not have address information in their profile because this has been erased. This creates difficulties when sending an invoice or the Thabloid.

### Desired func

[2020-03-18 08:27] thaliawww-service commented on #984
In GitLab by @se-bastiaan on Dec 19, 2019, 15:02

duplicate of #706

[2020-03-18 08:27] thaliawww-service commented on #984
In GitLab by @se-bastiaan on Dec 19, 2019, 15:02

closed

[2020-03-18 08:27] #984 closed

[2020-03-18 08:27] thaliawww-service opened #985 "KeyError: 'delete_selected'"
In GitLab by _thaliatechnicie on Dec 20, 2019, 19:08

Sentry Issue: [CONCREXIT-1S](https://sentry.io/organizations/thalia/issues/1399281021/?referrer=gitlab_integration)

[code]

[2020-03-18 08:27] thaliawww-service commented on #985
In GitLab by @se-bastiaan on Dec 29, 2019, 11:59

This is a problem because some members can no longer remove events

[2020-03-18 08:28] thaliawww-service commented on #985
In GitLab by @LCKnol on Jan 8, 2020, 18:36

assigned to @LCKnol

[2020-03-18 08:28] thaliawww-service commented on #985
In GitLab by @se-bastiaan on Jan 8, 2020, 22:43

closed via merge request !1455

[2020-03-18 08:28] thaliawww-service commented on #985
In GitLab by @se-bastiaan on Jan 8, 2020, 22:43

mentioned in commit f304cfdf6ab738c8638fd705c0b936c27d7585e1

[2020-03-18 08:28] #985 closed

[2020-03-18 08:28] thaliawww-service opened #986 "Add face recognition to photos"
In GitLab by @se-bastiaan on Dec 29, 2019, 12:33

### One-sentence description

Add face recognition to photos

### Motivation

Because it is really nice to be able to easily see all the photos taken of yourself.

### Desired functionality

I think there are two ways to implement this:
1. A single 'album' that shows all the pictures taken of you in reverse chronological order (oldest last).
2. An

[2020-03-18 08:28] thaliawww-service commented on #986
In GitLab by @mtsatsev on Jan 29, 2020, 18:39

BEST THING EVER.
Although we already discussed it and Neural network is not the way you decided to do it. GL still
My suggestion will still be posted here:
1. Add a face recognition to the app and generate data from there
2. Train a neural network to recognize that person by the name he/she has in their account.
3. Use it to search the photos.

[2020-03-18 08:28] thaliawww-service commented on #986
In GitLab by @joren485 on Feb 20, 2020, 21:19

Although I think this is very cool, I am against adding this to the website.

For me this ticks all the boxes of feature creep:
- [x] Fun, but unnecessary.
- [x] Hard to maintain.
- [x] Can exist perfectly outside of Concrexit.

In my opinion, this is a cool thing we could do for the lustrum (or something similar).

[2020-03-18 08:28] thaliawww-service commented on #986
In GitLab by @se-bastiaan on Feb 21, 2020, 14:34

I don't actually believe that this is hard to maintain due to the fact that the only thing we add is code  to detect faces and code to retrieve images based on the faces.

However, I do agree that it is not necessary and can exist perfectly outside of concrexit (mostly because it already does in the PoC).

It would be nice to be able to do this for

[2020-03-18 08:28] thaliawww-service opened #987 "Improve messages for exam/summary upload"
In GitLab by @se-bastiaan on Jan 14, 2020, 11:39

### One-sentence description

Improve messages for exam/summary upload

### Why?

They're unclear?. It does not say that the exam will be added to the approval queue. And that causes confusion because  people often upload the document again.

Edit: I did not get any messages at all.

(Maybe we could even make the approval queue crowd sourced so tha

[2020-03-18 08:28] thaliawww-service commented on #987
In GitLab by @se-bastiaan on Jan 21, 2020, 09:03

Closed in favour of #998

[2020-03-18 08:28] thaliawww-service commented on #987
In GitLab by @se-bastiaan on Jan 21, 2020, 09:03

closed

[2020-03-18 08:28] #987 closed

[2020-03-18 08:28] thaliawww-service opened #988 "Deliver sliders or other large images as webp"
In GitLab by @pingiun on Jan 15, 2020, 20:56

### Why?
According to [Google PageSpeed](https://developers.google.com/speed/pagespeed/insights/?hl=nl&url=thalia.nu&tab=mobile), we can speed up our site by a lot by converting slider images to webp.

### Current implementation
Large pictures are all served as png, this is a good image format for things that need to be compressed lossless.

### Sugges

[2020-03-18 08:28] thaliawww-service commented on #988
In GitLab by @se-bastiaan on Jan 15, 2020, 22:35

So what do you want to do exactly? Do you want to convert them on the fly on create new images for every single slide on disk? If you want to save the files to disk that could take some space if you want to serve both. And I don't think this makes the image loading stuff ~"easy and fun" with it being quite difficult already. At least, the drawback

[2020-03-18 08:28] thaliawww-service commented on #988
In GitLab by @se-bastiaan on Jan 15, 2020, 22:38

If Safari would support webp I would be in favour of converting every single image to webp, but unfortunately that is not the case: https://caniuse.com/#feat=webp. Even the last non-Chromium version of Edge has support.

2016 -> https://www.cnet.com/news/apple-ios-macos-tests-googles-webp-graphics-to-speed-up-web/

[2020-03-18 08:28] thaliawww-service opened #989 "Review Host DNS records are not removed when the review remove CI job is run"
In GitLab by @joren485 on Jan 19, 2020, 15:43

### One-sentence description
Review Host DNS records are not removed when the review remove CI job is run.

### Current behaviour / Reproducing the bug

The [command that removes the record](https://gitlab.science.ru.nl/thalia/concrexit/blob/master/.gitlab-ci.yml#L311) returns the following error:
[code]

[2020-03-18 08:28] thaliawww-service commented on #989
In GitLab by @se-bastiaan on Jan 19, 2020, 16:48

closed via merge request !1463

[2020-03-18 08:28] thaliawww-service commented on #989
In GitLab by @se-bastiaan on Jan 19, 2020, 16:48

mentioned in commit 82148a3d0c46ac258f1932e42efd95ff2b70bc10

[2020-03-18 08:28] #989 closed

[2020-03-18 08:28] thaliawww-service opened #990 "Review url is not clear from CI logs"
In GitLab by @joren485 on Jan 19, 2020, 15:46

### One-sentence description
Review Host url is not clear from CI logs.

### Current implementation
The username and password are shown to the user, but not the url to the review environment.

[2020-03-18 08:28] thaliawww-service commented on #990
In GitLab by @joren485 on Jan 19, 2020, 21:44

I now see that `environment.url` for the CI job is set.

However, I still think that a comment with the url in the comment about the username and password is useful.

[2020-03-18 08:28] thaliawww-service commented on #990
In GitLab by @joren485 on Jan 23, 2020, 17:43

assigned to @joren485

[2020-03-18 08:28] thaliawww-service commented on #990
In GitLab by @pingiun on Jan 23, 2020, 19:48

closed via merge request !1464

[2020-03-18 08:28] thaliawww-service commented on #990
In GitLab by @pingiun on Jan 23, 2020, 19:48

mentioned in commit 720de7d25483acb4b719cee358949bec01e90b0a

[2020-03-18 08:28] #990 closed

[2020-03-18 08:28] thaliawww-service opened #991 "No favicon for the admin site"
In GitLab by @lukovdm on Jan 22, 2020, 21:14

The admin site has no favicon, not the development grayscale favicon and not the normal thalia favicon. This increases the risk of changing something on the wrong site.

[2020-03-18 08:29] thaliawww-service commented on #991
In GitLab by @se-bastiaan on Jan 25, 2020, 21:39

easy peasy with https://www.djangotricks.com/tricks/9RM5Mk6tRThd/

[2020-03-18 08:29] thaliawww-service commented on #991
In GitLab by @Legosteen11 on Feb 5, 2020, 19:32

created merge request !1481 to address this issue

[2020-03-18 08:29] thaliawww-service commented on #991
In GitLab by @se-bastiaan on Feb 5, 2020, 21:24

closed via merge request !1481

[2020-03-18 08:29] thaliawww-service commented on #991
In GitLab by @se-bastiaan on Feb 5, 2020, 21:24

mentioned in commit 0c513a539005a454687834c7dbc49d4fc677a65d

[2020-03-18 08:29] #991 closed

[2020-03-18 08:29] thaliawww-service opened #992 "Internet required to run tests"
In GitLab by @joren485 on Jan 26, 2020, 20:07

### Description
Internet required to run tests, because [`activemembers/signals.py` always initializes the G Suite API](https://gitlab.science.ru.nl/thalia/concrexit/blob/master/website/activemembers/signals.py#L15). This is not (and should not be) always necessary (e.g. when running tests).

[2020-03-18 08:29] thaliawww-service commented on #992
In GitLab by @se-bastiaan on Jan 26, 2020, 21:31

mmm it's better to initialise it globally because of the caching, but we should be able to disable it in test environments

[2020-03-18 08:29] thaliawww-service commented on #992
In GitLab by @joren485 on Jan 26, 2020, 22:07

This problem does not only occur with the tests, but also when running a development environment (i.e. `python website/manage.py runserver` does not work without internet).

[2020-03-18 08:29] thaliawww-service opened #993 "Fix styleguide link"
In GitLab by @pingiun on Jan 27, 2020, 15:43

### One-sentence description
The styleguide link on the website is broken.

### Current behaviour / Reproducing the bug
Try to download the styleguide, get a nextcloud error page.

### Expected behaviour
The link downloads a zip with the styleguide.

I know that sharing a folder from a shared drive in GSuite is not possible, but the link has been broke

[2020-03-18 08:29] thaliawww-service commented on #993
In GitLab by @se-bastiaan on Jan 27, 2020, 15:43

Jeeze Jelle I think you duplicated your own issue.

[2020-03-18 08:29] thaliawww-service commented on #993
In GitLab by @se-bastiaan on Jan 27, 2020, 15:43

closed

[2020-03-18 08:29] thaliawww-service commented on #993
In GitLab by @se-bastiaan on Jan 27, 2020, 16:10

#990

[2020-03-18 08:29] #993 closed

[2020-03-18 08:29] thaliawww-service opened #994 "Superuser cannot edit/view events as if organizer"
In GitLab by @JobDoesburg on Jan 29, 2020, 19:38

### One-sentence description

Superuser cannot edit/view events as if organizer

### Current behaviour / Reproducing the bug

Superusers cannot view events as if organizer

### Expected behaviour

Superusers are almighty

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @se-bastiaan on Jan 29, 2020, 20:49

Is this on staging and or the master branch? Because I'm perfectly capable to edit everything on production.

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @JobDoesburg on Jan 29, 2020, 20:56

<s>Yeah</s> it is specific to <s>staging and</s> local, but not specific to me. Mario, Luko and I all experience this problem.

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @se-bastiaan on Jan 29, 2020, 20:58

Are you 100% sure it is also happening on staging? Because it is running commit 84762750dae7f890090d1d0a5b74389412ed5697 which is basically v29 that is on production. And I cannot reproduce it there.

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @JobDoesburg on Jan 29, 2020, 20:58

Sorry, did not check staging

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @JobDoesburg on Jan 29, 2020, 21:13

Still a problem though

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @se-bastiaan on Jan 29, 2020, 21:16

Your accounts do not have profiles. That's why everything is read-only.

If you get a 403 then the decorator is actually doing it's job and you missed something.

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @se-bastiaan on Jan 29, 2020, 21:16

closed

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @JobDoesburg on Jan 29, 2020, 21:27

But shouldn't superusers be able to access everything even if they do not have profiles

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @JobDoesburg on Jan 29, 2020, 21:27

reopened

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @se-bastiaan on Jan 29, 2020, 21:52

Our `Member` model is a proxy of the original Django user model so that we do not have to completely override this model in our codebase. Which gives much more flexibility. (https://gitlab.science.ru.nl/thalia/concrexit/merge_requests/606)

To make sure we don't always have to do `request.user.member` we have a middleware in the `members` app that

[2020-03-18 08:29] thaliawww-service commented on #994
In GitLab by @se-bastiaan on Jan 29, 2020, 21:54

closed

[2020-03-18 08:29] #994 closed

[2020-03-18 08:29] thaliawww-service opened #995 "Create more kinds of fixtures"
In GitLab by @JobDoesburg on Jan 29, 2020, 19:41

### One-sentence description

Create fixtures should create fixture for, for example, courses as well.

### Motivation

It makes testing easier

### Desired functionality

At least fixtures should be created for courses. But also maybe for photos and albums, documents, payments, registrations?, etc...

### Suggested implementation

[2020-03-18 08:30] thaliawww-service commented on #995
In GitLab by @9Y0 on Feb 19, 2020, 19:09

assigned to @9Y0

[2020-03-18 08:30] thaliawww-service opened #996 "'All members' in members directory not marked as active"
In GitLab by @se-bastiaan on Jan 29, 2020, 22:00

### One-sentence description

In the members directory the 'all members' tab is never marked as active

### Current behaviour / Reproducing the bug

1. Go to https://thalia.nu/members/directory/
2. The item is not selected

### Expected behaviour

1. Go to https://thalia.nu/members/directory/
2. The item is selected

[2020-03-18 08:30] thaliawww-service commented on #996
In GitLab by @9Y0 on Feb 5, 2020, 20:22

assigned to @9Y0

[2020-03-18 08:30] thaliawww-service commented on #996
In GitLab by @se-bastiaan on Feb 5, 2020, 21:18

closed via merge request !1485

[2020-03-18 08:30] thaliawww-service commented on #996
In GitLab by @se-bastiaan on Feb 5, 2020, 21:18

mentioned in commit 1d200a587f4825fbb2645b437f90d7847970314e

[2020-03-18 08:30] #996 closed

[2020-03-18 08:30] thaliawww-service opened #997 "ValueError: The given username must be set"
In GitLab by _thaliatechnicie on Feb 3, 2020, 12:59

Sentry Issue: [CONCREXIT-1N](https://sentry.io/organizations/thalia/issues/1372921592/?referrer=gitlab_integration)

[code]

[2020-03-18 08:30] thaliawww-service commented on #997
In GitLab by @pingiun on Feb 3, 2020, 13:02

closed

[2020-03-18 08:30] thaliawww-service commented on #997
In GitLab by @se-bastiaan on Feb 23, 2020, 15:15

https://gitlab.science.ru.nl/thalia/concrexit/issues/948

[2020-03-18 08:30] #997 closed

[2020-03-18 08:30] thaliawww-service opened #998 "Miscellaneous annual files on document page"
In GitLab by nvoers on Feb 3, 2020, 14:50

### One-sentence description
The ability to add more yearly files on the document page.

### Motivation
Normally things like the half year report are added as GM documents, but now we want to add yearly documents that are not necessarily discussed at a GM. We want to add a report from the societies on how well everything worked that year, as the society r

[2020-03-18 08:30] thaliawww-service commented on #998
In GitLab by @se-bastiaan on Feb 3, 2020, 16:24

I don't get it? Do you want files on society pages? Or on documents pages?

[2020-03-18 08:30] thaliawww-service commented on #998
In GitLab by nvoers on Feb 4, 2020, 11:05

woops, wrong title.

[2020-03-18 08:30] thaliawww-service commented on #998
In GitLab by @se-bastiaan on Feb 4, 2020, 11:06

Isn't this exactly what the `Association Documents` are for? What kind of documents are we thinking of? Could you adjust the description to use the 'Feature Request' template instead of 'Technical Change' and add a motivation?

[2020-03-18 08:30] thaliawww-service commented on #998
In GitLab by @se-bastiaan on Feb 4, 2020, 14:43

So these are basically annual documents like the policy and report but in the category 'miscellaneous'.

Are there a lot of these kind of documents that are not part of a GM?

[2020-03-18 08:30] thaliawww-service opened #999 "Expiration date on partner pages"
In GitLab by jdusseljee on Feb 4, 2020, 11:04

### One-sentence description

Can you add a functionality to set an expiration date on profile pages of partners.

### Motivation

Because it is pretty annoying to have to memorise the duration of all contracts. It would be way easier to just be able to set an expiration date when the contract enters.

### Desired functionality

An extra date field in

[2020-03-18 08:30] thaliawww-service commented on #999
In GitLab by @se-bastiaan on Feb 4, 2020, 11:30

Could you please use the feature request template?

[2020-03-18 08:30] thaliawww-service commented on #999
In GitLab by jdusseljee on Feb 4, 2020, 14:34

I thought I already did that.

[2020-03-18 08:30] thaliawww-service commented on #999
In GitLab by @se-bastiaan on Feb 4, 2020, 14:37

Ah wait you removed the titles.

[2020-03-18 08:30] thaliawww-service commented on #999
In GitLab by @se-bastiaan on Feb 4, 2020, 14:40

Don't you have a document for this? You don't have to memorise this. And are there that many contracts that are not 1 sept - 31 august?

We have removed this exact feature for vacancies because it was either not used or was already replaced by a simple sheet -> #877

[2020-03-18 08:30] thaliawww-service opened #1000 "Improve tests for Payments app"
In GitLab by @lukovdm on Feb 7, 2020, 13:49

### One-sentence description

A lot of tests for payments are either not consistent or do some weird stuff.

### Why?

Better tests helps stability

[2020-03-18 08:30] thaliawww-service opened #1001 "Create Payable interface"
In GitLab by @JobDoesburg on Feb 12, 2020, 20:33

### One-sentence description

Create a Payable interface to be used for all models that use Payments

### Why?

To prevent code duplication and improve testing

### Current implementation

Shitty, chaotic, anarchy, tears

### Suggested implementation

Payable abstract class with `(at)property (at)abstractmethod`s:
- `payment_amount` as the amount o

[2020-03-18 08:30] thaliawww-service commented on #1001
In GitLab by @JobDoesburg on Feb 12, 2020, 21:14

closed via merge request !1493

[2020-03-18 08:30] thaliawww-service commented on #1001
In GitLab by @JobDoesburg on Feb 12, 2020, 21:14

mentioned in commit f862eff851d83959829f9feefedab0a9a88ac7c2

[2020-03-18 08:30] thaliawww-service commented on #1001
In GitLab by @JobDoesburg on Feb 12, 2020, 21:34

reopened

[2020-03-18 08:31] thaliawww-service commented on #1001
In GitLab by @JobDoesburg on Feb 12, 2020, 21:34

We still need the `create_payment` constructor though

[2020-03-18 08:31] thaliawww-service commented on #1001
In GitLab by @se-bastiaan on Feb 12, 2020, 21:52

Okay why didn't we just name the topic `payment_group`

[2020-03-18 08:31] thaliawww-service commented on #1001
In GitLab by @JobDoesburg on Feb 12, 2020, 22:23

4 letters < 5 < 6

plus it might be confusing with payment batch

[2020-03-18 08:31] thaliawww-service commented on #1001
In GitLab by @se-bastiaan on Feb 12, 2020, 22:36

Haha don't worry I was just trolling

[2020-03-18 08:31] thaliawww-service commented on #1001
In GitLab by @se-bastiaan on Feb 19, 2020, 19:59

assigned to @se-bastiaan

[2020-03-18 08:31] thaliawww-service commented on #1001
In GitLab by @JobDoesburg on Mar 4, 2020, 19:09

closed via merge request !1508

[2020-03-18 08:31] thaliawww-service commented on #1001
In GitLab by @JobDoesburg on Mar 4, 2020, 19:09

mentioned in commit 7255f42587745986bec46921a7122760879606ce

[2020-03-18 08:31] #1001 closed

[2020-03-18 08:31] thaliawww-service opened #1002 "Use create_payment everywhere"
In GitLab by @JobDoesburg on Feb 12, 2020, 20:37

### One-sentence description

Use create_payment everywhere where we use payments

### Why?

Prevent code duplication

### Current implementation

Shitty, chaotic, anarchy, tears

### Suggested implementation

Make models Payable (implement the interface / abstract class from #1010) and use `create_payment` as the only way to interact with / create

[2020-03-18 08:31] thaliawww-service opened #1003 "Export payment batch per topic / event"
In GitLab by @JobDoesburg on Feb 12, 2020, 20:39

### One-sentence description

Export payment batch per topic / event

### Motivation

Required for bookkeeping of Thalia Pay

### Desired functionality

Use the `payment_topic` from Payments, provided by `Payable` models

### Suggested implementation

Extend #1044 with a second way of exporting

[2020-03-18 08:31] thaliawww-service opened #1004 "Prevent payment cancellation when payment in batch"
In GitLab by @JobDoesburg on Feb 12, 2020, 20:41

### One-sentence description

Prevent payment cancellation / changes when payment in batch

### Why?

When a payment is added to a payment batch (#932), it must stay in there and may not be changed or deleted anymore.

### Current implementation

This might be possible

### Suggested implementation

[2020-03-18 08:31] thaliawww-service commented on #1004
In GitLab by @JobDoesburg on Feb 12, 2020, 21:05

According to !1415 this shouldn't be possible, but we should definitely write tests for this

[2020-03-18 08:31] thaliawww-service opened #1005 "Add weekday to newsletter events"
In GitLab by @Legosteen11 on Feb 14, 2020, 10:01

In the current newsletter, there is only a date and time next to the event. It would be nice if there also was a (week)day there, because most people plan activities based on what day they are.

### One-sentence description

Add the event day to events in the newsletter.

### Motivation

This change would make it more easy to plan events if you jus

[2020-03-18 08:31] thaliawww-service commented on #1005
In GitLab by @Legosteen11 on Feb 19, 2020, 19:03

created merge request !1496 to address this issue

[2020-03-18 08:31] thaliawww-service commented on #1005
In GitLab by @mtsatsev on Feb 19, 2020, 21:08

It might be useful to add this feature on the website and the app

[2020-03-18 08:31] thaliawww-service opened #1006 "RecursionError: maximum recursion depth exceeded while calling a Python object"
In GitLab by _thaliatechnicie on Feb 16, 2020, 14:56

The below error occurs when trying to delete or unpublish an event from the event details page. (at)jdusseljee says the error doesn't happen if the unpublish action is used from the overview page.

Sentry Issue: [CONCREXIT-22](https://sentry.io/organizations/thalia/issues/1516920010/?referrer=gitlab_integration)

[code]

[2020-03-18 08:31] thaliawww-service commented on #1006
In GitLab by @pingiun on Feb 16, 2020, 14:57

Probably related: https://sentry.io/organizations/thalia/issues/1516921843/?project=1463433&query=is%3Aunresolved

[2020-03-18 08:31] thaliawww-service commented on #1006
In GitLab by @se-bastiaan on Feb 23, 2020, 15:24

Probably also related: https://code.djangoproject.com/ticket/22858

[2020-03-18 08:31] thaliawww-service commented on #1006
In GitLab by @se-bastiaan on Feb 23, 2020, 15:44

assigned to @se-bastiaan

[2020-03-18 08:31] thaliawww-service commented on #1006
In GitLab by @pingiun on Feb 26, 2020, 19:29

mentioned in commit 33e8344d650ce3c84debf8964f111f9831bea9be

[2020-03-18 08:31] thaliawww-service commented on #1006
In GitLab by @pingiun on Feb 26, 2020, 19:29

closed via merge request !1511

[2020-03-18 08:31] thaliawww-service commented on #1006
In GitLab by @pingiun on Mar 4, 2020, 21:13

mentioned in commit 9e91156efc17757850e1d36c6fd964b0c5520c80

[2020-03-18 08:31] #1006 closed

[2020-03-18 08:31] thaliawww-service opened #1007 "Event looks like registered for though on waiting list"
In GitLab by @JobDoesburg on Feb 17, 2020, 15:49

### One-sentence description

When on the waiting list for an event, it still looks like you are registered for that event.

### Current behaviour / Reproducing the bug

- In the calendar stream, the event does appear in your calendar
- Cancelling your registration does show the warning that you have to pay a fine, if after the unregistration deadl

[2020-03-18 08:31] thaliawww-service commented on #1007
In GitLab by @se-bastiaan on Feb 17, 2020, 21:31

The thing is that you are registered for an event when you're on the waiting list. That's how we see it from a implementation point of view and that is how it is shown to the user as well.

I do not necessarily think all of these things classify as a ~bug. Only that you get a warning about a fine is a bug in my eyes. The rest would be ~feature impr

[2020-03-18 08:31] thaliawww-service commented on #1007
In GitLab by @JobDoesburg on Feb 17, 2020, 21:55

Maybe it is a bug because it is unexpected behavior from the user point-of-view.

And sorry for not making the issues, I was being lazy :smiling_imp:

[2020-03-18 08:32] thaliawww-service opened #1008 "Saving event crashes when registration start is placed before current date"
In GitLab by @pingiun on Feb 23, 2020, 15:21

### One-sentence description
Saving event crashes when registration start is placed before current date

### Current behaviour / Reproducing the bug
1. Create an event
2. Set registration start date in the future
3. Save event
4. Change registration date before current date
5. Crash (locally I get a `Fatal Python error: Cannot recover from stack overfl

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @se-bastiaan on Feb 23, 2020, 15:50

I'm pretty sure this is related to #1015. Especially since I just fixed that and I cannot reproduce this now. Will try on master though.

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @se-bastiaan on Feb 23, 2020, 15:51

Okay I also cannot reproduce this on master.

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @se-bastiaan on Feb 23, 2020, 15:52

Did this happen on production? And if so, can we get a stack trace?

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @se-bastiaan on Feb 23, 2020, 15:53

Ah wait you forgot to mention that the event has to be published.

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @pingiun on Feb 23, 2020, 15:54

Yes this if for published events

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @pingiun on Feb 23, 2020, 15:54

assigned to @pingiun

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @pingiun on Feb 23, 2020, 15:54

I'm working on a fix where the event is cleaned in an admin form instead of the model, it's working but I need to fix the tests

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @se-bastiaan on Feb 23, 2020, 15:55

The event is cleaned?

You may want to check !1511 that fixes #1015 because I am 100% sure it is related.

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @pingiun on Feb 26, 2020, 19:29

closed via merge request !1511

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @pingiun on Feb 26, 2020, 19:29

mentioned in commit 33e8344d650ce3c84debf8964f111f9831bea9be

[2020-03-18 08:32] thaliawww-service commented on #1008
In GitLab by @pingiun on Mar 4, 2020, 21:13

mentioned in commit 9e91156efc17757850e1d36c6fd964b0c5520c80

[2020-03-18 08:32] #1008 closed

[2020-03-18 08:32] thaliawww-service opened #1009 "Move business logic of notifications out of models"
In GitLab by @se-bastiaan on Feb 23, 2020, 16:30

### One-sentence description

Move business logic of notifications out of models

### Why?
Clean up the models

### Current implementation

Code in the models (mostly events)

### Suggested implementation

Use signals

[2020-03-18 08:32] thaliawww-service opened #1010 "Replace Docker image used by Renovate"
In GitLab by @joren485 on Feb 28, 2020, 12:09

### One-sentence description
Replace Docker image used by Renovate.

### Why?
Apparently Renovate still uses [`thalia/python-thalia`](https://hub.docker.com/r/thalia/python-thalia). `thalia/python-thalia` is outdated and not automatically updated.

### Suggested implementation
Either [`renovate/python`](https://hub.docker.com/r/renovate/python) or [`t

[2020-03-18 08:32] thaliawww-service opened #1011 "Add wiki page about Renovate"
In GitLab by @joren485 on Feb 28, 2020, 12:10

### One-sentence description
Add wiki page about Renovate.

### Why?
It is important to have documentation about the third-party applications we use.

[2020-03-18 08:32] thaliawww-service opened #1012 "Add wiki page about Concrexit Docker images"
In GitLab by @joren485 on Feb 28, 2020, 12:11

### One-sentence description
Explain how the current Concrexit Docker images are built and what they are used for.

[2020-03-18 08:32] thaliawww-service commented on #1012
In GitLab by @joren485 on Feb 28, 2020, 12:11

assigned to @joren485

[2020-03-18 08:32] thaliawww-service commented on #1012
In GitLab by @joren485 on Feb 29, 2020, 11:43

I have added the [Concrexit Docker Images](https://gitlab.science.ru.nl/thalia/concrexit/-/wikis/Concrexit-Docker-Images) wikis page.

[2020-03-18 08:32] thaliawww-service commented on #1012
In GitLab by @joren485 on Feb 29, 2020, 11:43

closed

[2020-03-18 08:32] #1012 closed

[2020-03-18 08:32] thaliawww-service opened #1013 "ProgrammingError: more than one row returned by a subquery used as an expression"
In GitLab by _thaliatechnicie on Mar 1, 2020, 16:38

Sentry Issue: [CONCREXIT-27](https://sentry.io/organizations/thalia/issues/1540717591/?referrer=gitlab_integration)

[code]

[2020-03-18 08:32] thaliawww-service opened #1014 "ValueError: day is out of range for month"
In GitLab by _thaliatechnicie on Mar 4, 2020, 19:20

Sentry Issue: [CONCREXIT-24](https://sentry.io/organizations/thalia/issues/1538288408/?referrer=gitlab_integration)

[code]

[2020-03-18 08:32] thaliawww-service commented on #1014
In GitLab by _thaliatechnicie on Mar 4, 2020, 19:21

Sentry issue: [CONCREXIT-25](https://sentry.io/organizations/thalia/issues/1538863915/?referrer=gitlab_integration)

[2020-03-18 08:33] thaliawww-service commented on #1014
In GitLab by @se-bastiaan on Mar 4, 2020, 19:22

[code]

[2020-03-18 08:33] thaliawww-service commented on #1014
In GitLab by @mariesophiesimon on Mar 4, 2020, 19:24

assigned to @mariesophiesimon

[2020-03-18 08:33] thaliawww-service commented on #1014
In GitLab by @mariesophiesimon on Mar 4, 2020, 19:24

created branch [`1025-valueerror-day-is-out-of-range-for-month`](/thalia/concrexit/compare/master...1025-valueerror-day-is-out-of-range-for-month) to address this issue

[2020-03-18 08:33] thaliawww-service opened #1015 "Thalia & Corona"
In GitLab by njanssen on Mar 6, 2020, 09:57

Thalia.nu/corona should display a single image of a corona beer![Corona-beer-Constellation-Brands-coronavirus](https://gitlab.science.ru.nl//thalia/concrexit/uploads/771d3a4595379ad489116a9b7ad320d9/Corona-beer-Constellation-Brands-coronavirus.jpg)

[2020-03-18 08:33] thaliawww-service commented on #1015
In GitLab by @se-bastiaan on Mar 8, 2020, 12:58

closed

[2020-03-18 08:33] #1015 closed

[2020-03-18 08:33] thaliawww-service opened #1016 "Website starts up in the wrong language"
In GitLab by lboogaard on Mar 9, 2020, 13:03

### One-sentence description

To have a language preference in your profile so that the website starts up in your prefered language

Every time I start up the website or click on a link in the newsletter it starts up in English. I don't speak English so I would like it to start up in Dutch.

Have a cookie or something with a long time to live so that w

[2020-03-18 08:33] thaliawww-service commented on #1016
In GitLab by @se-bastiaan on Mar 9, 2020, 13:15

Are you sure your browser is not blocking cookies? Because we already have this. It's a part of Django https://docs.djangoproject.com/en/3.0/ref/settings/#language-cookie-age.

Is it possible that you changed the language of your browser to English?

[2020-03-18 08:33] thaliawww-service commented on #1016
In GitLab by lboogaard on Mar 9, 2020, 13:28

?Hello Sébastiaan,

I even have a chrome plugin that is called: 'I don't care about cookies' what enables all cookies. Furthermore, it also happens on my phone which has no plugins or sorceries whatsoever.

Kind regards,
Leon

[2020-03-18 08:33] thaliawww-service commented on #1016
In GitLab by @se-bastiaan on Mar 9, 2020, 13:30

And in what language is your browser configured?

[2020-03-18 08:33] thaliawww-service commented on #1016
In GitLab by lboogaard on Mar 9, 2020, 15:45

?Hello Sébastiaan,

They are both set to Dutch.

Kind regards,

Leon

[2020-03-18 08:33] thaliawww-service opened #1017 "Original images in photo albums are saved and downloaded"
In GitLab by @gijshendriksen on Mar 11, 2020, 18:28

### One-sentence description

When downloading a photo album, both the original and downscaled images are downloaded, even though we're not supposed to save the original image.

### Current behaviour / Reproducing the bug

1. Download a photo album
2. Notice the original images are saved and included in the album (`*.JPG`), alongside the downsca

[2020-03-18 08:33] thaliawww-service opened #1018 "Payment fields not translated in admin"
In GitLab by @JobDoesburg on Mar 11, 2020, 19:53

### One-sentence description

Payment fields not translated in admin

### Current behaviour / Reproducing the bug

At (staging.)thalia.nu/admin/payments/payment/*/change, the field names are not translated

### Expected behaviour

They should be translated

[2020-03-18 08:33] thaliawww-service opened #1019 "Dark mode in newsletter"
In GitLab by @JobDoesburg on Mar 11, 2020, 20:56

### One-sentence description

Dark mode in newsletter

### Motivation

More dark is more better

### Desired functionality

A dark mode in newsletters, just as in the regular site

### Suggested implementation

Use the same stylesheets (and svg images as well for that matter)

[2020-03-18 08:33] thaliawww-service commented on #1019
In GitLab by @se-bastiaan on Mar 11, 2020, 23:55

I'm pretty sure not all email clients support this.

And I'm 100% sure you cannot use SVG's in emails.
https://stackoverflow.com/questions/37753911/how-can-i-embed-svg-into-html-in-an-email-so-that-its-visible-in-most-all-emai

[2020-03-18 08:33] thaliawww-service commented on #1019
In GitLab by @se-bastiaan on Mar 11, 2020, 23:56

Oh and you cannot use SCSS to create a stylesheet that you host somewhere. The CSS has to be in the email source to support all clients.

[2020-03-18 08:33] thaliawww-service commented on #1019
In GitLab by @se-bastiaan on Mar 11, 2020, 23:58

HTML emails are horror because of the split support between clients. Same reason why #133 has never been finished after I started work on it. I had something nice that worked in Gmail (I believe) but never finished it because it didn't work everywhere.

[2020-03-18 08:33] thaliawww-service commented on #1019
In GitLab by @JobDoesburg on Mar 12, 2020, 00:00

I know that it is possible for some mail clients, but I checked which mail clients do and don't support it and it is very limited. So I think we can close it to be honest.

[2020-03-18 08:33] thaliawww-service commented on #1019
In GitLab by @se-bastiaan on Mar 12, 2020, 00:03

Well it's a nice idea, because my email client actually has dark mode. But it's not feasible at the moment maybe. Email sucks.

[2020-03-18 08:33] thaliawww-service commented on #1019
In GitLab by @JobDoesburg on Mar 12, 2020, 00:04

Let's use only push notifications

[2020-03-18 08:33] thaliawww-service opened #1020 "Topic should be visible in https://thalia.nu/user/finance/payments/"
In GitLab by @JobDoesburg on Mar 11, 2020, 21:05

### One-sentence description

Topic should be visible in https://thalia.nu/user/finance/payments/

### Current behaviour / Reproducing the bug

The topic field is not visible

### Expected behaviour

Be visible

[2020-03-18 08:33] thaliawww-service commented on #1020
In GitLab by @se-bastiaan on Mar 11, 2020, 23:51

I thought the topic was only for batches? Why would we also show it if there is already the note.

[2020-03-18 08:33] thaliawww-service commented on #1020
In GitLab by @JobDoesburg on Mar 11, 2020, 23:52

It was mainly 'invented' for batches, but we now move information like the event for which was paid from the notes to the topic, so we can / must still show it to users

[2020-03-18 08:33] thaliawww-service commented on #1020
In GitLab by @se-bastiaan on Mar 11, 2020, 23:54

Did we move that? I did not know we did that. You're just assuming that.
https://gitlab.science.ru.nl/thalia/concrexit/-/blob/master/website/events/models.py#L651

I'm pretty sure we discussed this and the conclusion was that we need topic for the batches but that notes are human readable for the users.

[2020-03-18 08:33] thaliawww-service opened #1021 "Think of a way to improve partner logo's in dark mode"
In GitLab by @JobDoesburg on Mar 11, 2020, 21:18

### One-sentence description

Think of a way to improve partner logo's in dark mode

### Motivation

With current dark mode, some partner logo's look a bit weird

### Desired functionality

They should look good both in dark mode and light mode.
**Both in the banner, and in the vacancy pages**

### Suggested implementation

It is hard to do this co

[2020-03-18 08:33] thaliawww-service opened #1022 "AttributeError: 'NoneType' object has no attribute 'is_authenticated'"
In GitLab by _thaliatechnicie on Mar 11, 2020, 23:02

Sentry Issue: [CONCREXIT-2A](https://sentry.io/organizations/thalia/issues/1560438241/?referrer=gitlab_integration)

[code]

[2020-03-18 08:34] thaliawww-service opened #1023 "Missing singlepages translations"
In GitLab by @joren485 on Mar 13, 2020, 16:27

### Description
Add all missing singlepages translations.

After I run `../manage.py makemessages --locale nl --no-obsolete` in `website/singlepages` 170+ translations seem to be missing.

[2020-03-18 08:34] thaliawww-service commented on #1023
In GitLab by @se-bastiaan on Mar 13, 2020, 16:29

This is basically #1017 I believe

[2020-03-18 08:41] thaliawww-service opened #1024 "A group membership can be added without filling in the group"
In GitLab by @lukovdm on Sep 2, 2019, 12:09

### One-sentence description

A group membership can be added without filling in the group.

### Current behaviour / Reproducing the bug

1. Create a group membership for a user but don't fill in a group even though it is bold
2. breakage

### Expected behaviour

1. Create a group membership for a user but don't fill in a group even though it is bold
2.

[2020-03-18 08:41] thaliawww-service commented on #1024
In GitLab by _thaliatechnicie on Sep 2, 2019, 12:09

Sentry issue: [CONCREXIT-P](https://sentry.io/organizations/thalia/issues/1202207096/?referrer=gitlab_integration)

[2020-03-18 08:41] thaliawww-service commented on #1024
In GitLab by @marthijnvdn on Oct 2, 2019, 20:49

assigned to @marthijnvdn

[2020-03-18 08:41] thaliawww-service commented on #1024
In GitLab by @se-bastiaan on Nov 13, 2019, 21:59

closed via merge request !1375

[2020-03-18 08:41] thaliawww-service commented on #1024
In GitLab by @se-bastiaan on Nov 13, 2019, 21:59

mentioned in commit 5bb0232b4068edd0f7496b5e8f2264fa9f90b959

[2020-03-18 08:41] #1024 closed

[2020-03-18 08:41] thaliawww-service opened #1025 "Receive the newsletter in the app"
In GitLab by @se-bastiaan on Jun 26, 2019, 21:25

### One-sentence description

Receive the newsletter in the app

### Motivation

Useful new channel for promotion.

### Desired functionality

Receive and open the newsletter in the app sending a push notification.

[2020-03-18 08:41] thaliawww-service commented on #1025
In GitLab by @se-bastiaan on Oct 25, 2019, 11:57

assigned to (at)mtsatsev

[2020-03-18 08:42] thaliawww-service commented on #1025
In GitLab by mtsatsev on Nov 17, 2019, 17:34

Could you @se-bastiaan further clarify the problem ? I think the push notification is done but i don't know how to open the newsletter in the app itself. Is it actually required to have the HTML newsletter open in the app or only a notification that the newsletter is out ? And say clicking the notification opens a browser to read the newsletter ?

[2020-03-18 08:42] thaliawww-service commented on #1025
In GitLab by @se-bastiaan on Nov 17, 2019, 17:35

The second thing, if you added the url to the push notification it should work just fine. The app handles the rest.

[2020-03-18 08:42] thaliawww-service commented on #1025
In GitLab by @se-bastiaan on Feb 5, 2020, 22:31

closed via merge request !1426

[2020-03-18 08:42] thaliawww-service commented on #1025
In GitLab by @se-bastiaan on Feb 5, 2020, 22:31

mentioned in commit 561c18ffff9b7d4a36d4fa0e1a8fc186d694db69

[2020-03-18 08:42] #1025 closed

[2020-03-18 08:42] thaliawww-service opened #1026 "Create HTML version of information check email"
In GitLab by @se-bastiaan on Oct 15, 2019, 09:08

### One-sentence description

Create HTML version of information check email

### Motivation

It's formatting in the text version is bad.

### Desired functionality

Have the data nicely formatted.

### Suggested implementation

Use a table or something.

[2020-03-18 08:42] thaliawww-service commented on #1026
In GitLab by @marthijnvdn on Oct 16, 2019, 18:32

assigned to @marthijnvdn

[2020-03-18 08:42] thaliawww-service commented on #1026
In GitLab by @se-bastiaan on Nov 13, 2019, 21:58

closed via merge request !1390

[2020-03-18 08:42] thaliawww-service commented on #1026
In GitLab by @se-bastiaan on Nov 13, 2019, 21:58

mentioned in commit ee78bfe79a11b86a5e330838074dbbdbaead7dd5

[2020-03-18 08:42] #1026 closed

[2020-03-18 08:42] thaliawww-service opened #1027 "Statistics names are shown wrong"
In GitLab by thijsdejong on Oct 30, 2019, 21:06

### One-sentence description
The statistics for ``number of members per committee`` shows the names wrong.

### Current behaviour / Reproducing the bug
The statistics for ``number of members per committee`` shows names of the committee underneath the bars, but not underneath every bar. Only per 2 bars, and when there are more committees, there are l

[2020-03-18 08:42] thaliawww-service commented on #1027
In GitLab by @marthijnvdn on Nov 6, 2019, 18:11

assigned to @marthijnvdn

[2020-03-18 08:42] thaliawww-service commented on #1027
In GitLab by thijsdejong on Nov 20, 2019, 21:16

closed via merge request !1427

[2020-03-18 08:42] thaliawww-service commented on #1027
In GitLab by thijsdejong on Nov 20, 2019, 21:16

mentioned in commit da08c9c414b7182a72395a67b97129f53a6c02af

[2020-03-18 08:42] #1027 closed

[2020-03-18 08:42] thaliawww-service opened #1028 "Missing translations in information check email"
In GitLab by @pingiun on Dec 4, 2019, 19:22

### One-sentence description
Information check email has some missing translations

### Current behaviour / Reproducing the bug
Send an information check email, notice some weird text missing.

### Expected behaviour
Information check mail contains correct translations

[2020-03-18 08:42] thaliawww-service commented on #1028
In GitLab by @pingiun on Dec 4, 2019, 19:28

![image](https://gitlab.science.ru.nl//thalia/concrexit/uploads/31ae1a8576e389b525e82e6703be5ae9/image.png)

There is also a spelling mistake: "changige". This email should be in Dutch but there is no translation

[2020-03-18 08:42] thaliawww-service commented on #1028
In GitLab by @marthijnvdn on Jan 29, 2020, 21:03

When I use ./manage.py sendinformationcheck, both languages appear to be correct.

[2020-03-18 08:42] thaliawww-service commented on #1028
In GitLab by @marthijnvdn on Feb 19, 2020, 21:13

assigned to @marthijnvdn

[2020-03-18 08:42] thaliawww-service opened #1029 "Missing translations in statistics page"
In GitLab by @JobDoesburg on Dec 5, 2019, 13:52

### One-sentence description

The graph of members/benefactors per cohort does not have member type benefactor and honorary translated

### Current behaviour / Reproducing the bug

check https://thalia.nu/members/statistics/ top right chart

### Expected behaviour

be translated

[2020-03-18 08:42] thaliawww-service commented on #1029
In GitLab by @se-bastiaan on Jan 25, 2020, 21:42

This is because these texts are in the djangojs namespaced translation files. https://docs.djangoproject.com/en/3.0/topics/i18n/translation/#creating-message-files-from-js-code

[2020-03-18 08:42] thaliawww-service commented on #1029
In GitLab by @marthijnvdn on Feb 12, 2020, 19:22

assigned to @marthijnvdn

[2020-03-18 08:42] thaliawww-service commented on #1029
In GitLab by @marthijnvdn on Feb 12, 2020, 19:57

unassigned @marthijnvdn

[2020-03-18 08:42] thaliawww-service commented on #1029
In GitLab by mboute on Feb 19, 2020, 21:16

assigned to (at)mboute

[2020-03-18 08:42] thaliawww-service commented on #1029
In GitLab by mboute on Feb 19, 2020, 21:27

created merge request !1503 to address this issue

[2020-03-18 08:42] thaliawww-service commented on #1029
In GitLab by @se-bastiaan on Feb 19, 2020, 23:46

closed via merge request !1503

[2020-03-18 08:42] thaliawww-service commented on #1029
In GitLab by @se-bastiaan on Feb 19, 2020, 23:46

mentioned in commit 2787c2269e5ec5f4889805c9115465ae03643b73

[2020-03-18 08:43] #1029 closed

[2020-03-18 08:43] thaliawww-service opened #1030 "Make it clear when members are not allowed to go to events"
In GitLab by @pingiun on Dec 9, 2019, 12:53

### One-sentence description
Make it clearer for members when they cannot go to events.

### Motivation
Sometimes members miss the email that tells them they are banned from events (because they forgot to pay their fines). This causes confusion when they cannot register for events.

### Desired functionality
Better information on the website when regist

[2020-03-18 08:43] thaliawww-service commented on #1030
In GitLab by @pingiun on Dec 9, 2019, 15:13

assigned to @pingiun

[2020-03-18 08:43] thaliawww-service commented on #1030
In GitLab by @pingiun on Feb 12, 2020, 19:26

unassigned @pingiun

[2020-03-18 08:43] thaliawww-service commented on #1030
In GitLab by @marthijnvdn on Feb 12, 2020, 19:47

assigned to @marthijnvdn

[2020-03-18 08:43] thaliawww-service commented on #1030
In GitLab by @se-bastiaan on Feb 19, 2020, 21:47

closed via merge request !1494

[2020-03-18 08:43] thaliawww-service commented on #1030
In GitLab by @se-bastiaan on Feb 19, 2020, 21:47

mentioned in commit 7a75101d2f31c2ea9b43417459287438fde3bf55

[2020-03-18 08:43] #1030 closed

[2020-03-18 08:43] thaliawww-service opened #1031 "Add information to exam / summary submission"
In GitLab by wtheunisse on Jan 20, 2020, 22:21

### One-sentence description

Add some confirmation message when submitting an exam.

### Motivation

Currently there is no confirmation when you submit an exam + it doesn't show up in the list of exams immediately because there's a review first. This way it is not clear whether the submission was actually performed correctly + people don't know that

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by wtheunisse on Jan 20, 2020, 22:23

Ah, I see that this is already in the issue tracker as #994

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by wtheunisse on Jan 20, 2020, 22:23

closed

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by @se-bastiaan on Jan 21, 2020, 09:03

reopened

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by @se-bastiaan on Jan 21, 2020, 09:04

Your's is much better explained so I'm closing mine instead.

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by @marthijnvdn on Jan 29, 2020, 18:38

assigned to @marthijnvdn

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by @marthijnvdn on Jan 29, 2020, 20:28

unassigned @marthijnvdn

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by @marthijnvdn on Feb 5, 2020, 19:08

assigned to @marthijnvdn

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by @se-bastiaan on Feb 5, 2020, 21:35

closed via merge request !1482

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by @se-bastiaan on Feb 5, 2020, 21:35

mentioned in commit e72197308b48f42e49f4e2a01a2c53b4cd4bae20

[2020-03-18 08:43] thaliawww-service commented on #1031
In GitLab by mtsatsev on Mar 11, 2020, 20:14

mentioned in commit 3906eee9a1b6d782de2badc8368dd6f8041923ba

[2020-03-18 08:43] #1031 closed

[2020-03-18 08:43] thaliawww-service opened #1032 "Show deregistration disclaimer text even if not registered for event"
In GitLab by @JobDoesburg on Nov 15, 2019, 11:53

### One-sentence description

The text stating you cannot deregister without paying a fine is not visible if you are not registered for the event.

### Current behaviour / Reproducing the bug

Currently, the website does not show the deregistration disclaimer if you are not registered. This is undesirable, as it allows users to register for the eve

[2020-03-18 08:43] thaliawww-service commented on #1032
In GitLab by @gijshendriksen on Nov 15, 2019, 12:07

I'd argue it's actually useful to have that text there, as an extra reminder to people that they shouldn't register anymore without thinking twice

[2020-03-18 08:43] thaliawww-service commented on #1032
In GitLab by @JobDoesburg on Nov 15, 2019, 12:16

I think the app should mimic the website on this, so such a feature should be added to the website first then

[2020-03-18 08:43] thaliawww-service commented on #1032
In GitLab by @DeD1rk on Nov 27, 2019, 19:34

created merge request ThaliApp!401 to address this issue

[2020-03-18 08:43] thaliawww-service commented on #1032
In GitLab by @gijshendriksen on Nov 27, 2019, 19:53

Agreed. I'm all for adding this text to the website and keeping it in the app.

[2020-03-18 08:43] thaliawww-service commented on #1032
In GitLab by @gijshendriksen on Feb 5, 2020, 19:40

After discussing with @se-bastiaan we decided to move this to the concrexit repository. The reason is that it is useful to include this text so people don't register for an event without realising that they cannot deregister anymore. And, as @JobDoesburg said, it is nice to have both the app and the website state the same thing.

[2020-03-18 08:43] thaliawww-service commented on #1032
In GitLab by mboute on Feb 19, 2020, 23:36

assigned to (at)mboute

[2020-03-18 08:43] thaliawww-service commented on #1032
In GitLab by mboute on Feb 19, 2020, 23:37

created merge request !1506 to address this issue

[2020-03-18 08:44] thaliawww-service commented on #1032
In GitLab by @se-bastiaan on Feb 23, 2020, 16:53

closed via merge request !1506

[2020-03-18 08:44] thaliawww-service commented on #1032
In GitLab by @se-bastiaan on Feb 23, 2020, 16:53

mentioned in commit 7190f04e8d3c53bc19439b35df7e4bfacaa78633

[2020-03-18 08:44] #1032 closed

[2020-03-18 08:44] thaliawww-service opened #1033 "Remove redundant html templates from `/thaliawebsite/templates/singlepages/`"
In GitLab by @JobDoesburg on Feb 22, 2020, 11:35

### One-sentence description

Remove redundant html templates from `/thaliawebsite/templates/singlepages/`

### Why?

They are redundant, since they are also in `/singlepages/templates` and these are the ones that are used.

### Current implementation

It appears as if the translations are still in `/thaliawebsite` though, so it would probably be n

[2020-03-18 08:44] thaliawww-service commented on #1033
In GitLab by @JobDoesburg on Feb 22, 2020, 11:39

mentioned in commit 66979ab78c7644575c350cbd4000fca3620ceda2

[2020-03-18 08:44] thaliawww-service commented on #1033
In GitLab by @marthijnvdn on Mar 4, 2020, 19:14

assigned to @marthijnvdn

[2020-03-18 08:44] thaliawww-service opened #1034 "Do not use hardcoded colors for calendar API"
In GitLab by @JobDoesburg on Feb 26, 2020, 21:35

### One-sentence description

Do not use hardcoded colors for calendar API in `website/members/api/serializers.py` r42-49 and `website/events/api/serializers.py`

### Why?

We shouldn't hardcode these things at the API level but provide them using CSS.

### Current implementation

The API provides a `backgroundColor` and `textColor` in the event so

[2020-03-18 08:44] thaliawww-service commented on #1034
In GitLab by @se-bastiaan on Feb 26, 2020, 21:37

Is this a possibility within https://fullcalendar.io/? That API is made to support FullCalendar and was thus implemented like this because they expect you to do it this way.

[2020-03-18 08:44] thaliawww-service commented on #1034
In GitLab by @JobDoesburg on Feb 26, 2020, 21:39

@pingiun told me this was a better way to do it

[2020-03-18 08:44] thaliawww-service commented on #1034
In GitLab by @se-bastiaan on Feb 26, 2020, 21:41

I know they used FullCalendar in the GiPHouse website. So instead of reinventing the wheel and searching the documentation he may be able to tell us exactly what to change. This is quite vague for me.

[2020-03-18 08:44] thaliawww-service commented on #1034
In GitLab by @se-bastiaan on Feb 26, 2020, 21:47

This is what we use now: https://fullcalendar.io/docs/events-json-feed

[2020-03-18 08:44] thaliawww-service commented on #1034
In GitLab by @se-bastiaan on Feb 26, 2020, 21:48

and it looks like an event source object https://fullcalendar.io/docs/event-source-object also has the `className` attribute indeed. now I get it.

[2020-03-18 08:44] thaliawww-service commented on #1034
In GitLab by @se-bastiaan on Feb 26, 2020, 21:51

I have clarified the description to include this. I believe it may be a good easy and fun issue that involves CSS and the APIs. Nice learning thingie.

[2020-03-18 08:44] thaliawww-service commented on #1034
In GitLab by @se-bastiaan on Feb 26, 2020, 21:51

Oh and good idea :ok_hand:  I did not know this was possible

[2020-03-18 08:44] thaliawww-service commented on #1034
In GitLab by @marthijnvdn on Mar 4, 2020, 17:06

assigned to @marthijnvdn

[2020-03-18 08:45] se-bastiaan commented on #1034
Closed when we merged dark mode.

[2020-03-18 08:45] #1034 closed

[2020-03-18 10:09] se-bastiaan commented on #986
We're probably doing this for the lustrum so it is no longer concrexit related.

[2020-03-18 10:09] #986 closed

[2020-03-18 20:10] #1022 closed

[2020-03-18 20:16] se-bastiaan opened #1046 "Increase number of issue types"
### Describe the change
A clear and concise description of what the change should be.

### Motivation
Because `technical change` is not really industry standard, and a clear split makes it easier to know what is what.

### Current implementation
- feature
- bug
- technical change

### Suggested implementation
- feature: (new feature for the user, not a new feature for build script)
- bug: (fix for

[2020-03-18 20:17] se-bastiaan commented on #1016
We determined that Leon had the wrong language set as primary in his browser.

[2020-03-18 20:17] #1016 closed

[2020-03-18 20:17] se-bastiaan commented on #1019
Closing because it's not feasible at the moment.

[2020-03-18 20:17] #1019 closed

[2020-03-18 20:20] se-bastiaan commented on #1011
Done: https://github.com/thaliawww/concrexit/wiki/Renovate

[2020-03-18 20:20] #1011 closed

[2020-03-18 20:22] se-bastiaan commented on #632
I'm closing this issue because we can now use a project: https://github.com/thaliawww/concrexit/projects/3

[2020-03-18 20:22] #632 closed

[2020-03-18 20:23] se-bastiaan commented on #992
We can borrow code to do this from https://github.com/GipHouse/website as soon as @lukovdm is done there :p

[2020-03-19 09:20] #1046 closed

[2020-03-26 12:03] se-bastiaan opened #1056 "Incorrect focus color for dropdown elements"
### Describe the bug
The focus color of dropdown elements is incorrect.

### How to reproduce
Steps to reproduce the behaviour:
1. Make sure you get an item focused in the dropdown of the user menu
2. The background is white.

### Expected behaviour
The text should be readable when the item is focused.

### Screenshots

![Screenshot 2020-03-26 at 13 00 33](https://user-images.githubusercontent.com

[2020-03-26 14:04] #1056 closed

[2020-03-28 11:24] se-bastiaan commented on #1017
I have been working on this issue, but my file system does not look at the casing of text in a filename. Since a Linux file system is case sensitive and our resized images use the extension `.jpg` while the originals mostly use `.JPG` we have loads of originals on our server now I think.

@pingiun @joren485 could you take a look at this? And any ideas how to solve that?

[2020-03-28 11:29] joren485 commented on #1017
There are albums with only `*.JPG` files, albums with only `*.jpg` files and albums with both.

[2020-03-28 11:49] se-bastiaan commented on #1017
I think the albums with both the uppercase and lowercase are the ones with the originals, especially if they have the same filename in front of the extension.

[2020-03-28 11:55] joren485 commented on #1017
The originals are a lot bigger than the downscaled images. We could identify them by their size.

[2020-03-28 13:17] se-bastiaan commented on #1017
I believe this would be the perfect to do that, since there won't be any new photos for a while. And I think we can release it before events start again.

[2020-03-29 11:37] se-bastiaan commented on #1021
I believe an easy solution would be to remove the constrast of the logos by using `contrast(0)`
![Screenshot 2020-03-29 at 13 33 53](https://user-images.githubusercontent.com/1799914/77848045-1352a980-71c2-11ea-8b81-439501dd7bf3.png)

Or make them black by using `brightness(0)`
![Screenshot 2020-03-29 at 13 34 21](https://user-images.githubusercontent.com/1799914/77848046-1483d680-71c2-11ea-9185-5

[2020-03-29 11:38] se-bastiaan commented on #1021
Ah but that does not work for the logos of Quintor and CCV

![Screenshot 2020-03-29 at 13 38 23](https://user-images.githubusercontent.com/1799914/77848102-9a078680-71c2-11ea-95cd-ac84259a9da9.png)

[2020-03-29 11:58] se-bastiaan commented on #1021
![Screenshot 2020-03-29 at 13 58 18](https://user-images.githubusercontent.com/1799914/77848488-65e19500-71c5-11ea-8ff9-01930f159fc8.png)
If we fix the logos it would work fine

[2020-03-29 12:03] se-bastiaan commented on #1021
What do you think @JobDoesburg

[2020-03-29 12:04] JobDoesburg commented on #1021
I like what you did @se-bastiaan (that last one)

[2020-03-29 14:30] se-bastiaan commented on #1010
this is no longer required since we use the github app now

[2020-03-29 14:30] #1010 closed

[2020-03-30 07:31] thaliawww-service opened #1063 "Fix "file_lines" issue in website/events/models.py"
File `models.py` has 654 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/svthalia/concrexit/website/events/models.py#issue_5e7f92b79367dc0001000485

[2020-03-30 07:31] thaliawww-service opened #1064 "Fix "file_lines" issue in website/members/models.py"
File `models.py` has 544 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/svthalia/concrexit/website/members/models.py#issue_5e7f92b89367dc00010004aa

[2020-03-30 14:15] #1021 closed

[2020-03-30 14:15] #1063 closed

[2020-03-31 13:11] se-bastiaan opened #1068 "Decrease number of translations for the information check emails"
### Describe the change
Decrease number of translations for the information check emails

### Motivation
Less hard to maintain.

### Current implementation
The same text is currently translated twice.

### Suggested implementation
Only one text for both the plaintext and HTML emails.

[2020-04-03 09:15] JobDoesburg opened #1072 "Paper thabloid opt-out in user profile"
### Is your feature request related to a problem? Please describe.
Paper thabloid opt-out in user profile

### Describe the solution you'd like
A checkbox or something (default is True) that allows people to state they don't want to receive the thabloid on paper.

A filter for this checkbox must be added to the user admin as well.

### Motivation
There are quite some people who send mails that the

[2020-04-03 10:58] se-bastiaan commented on #1072
_is_ discussed or _was_ discussed? was there anything _decided_?

anyways, this is a feature that should be part of the member administration since that is where it belongs. and the core task of the website is to do the member administration. So if this is something we are going to support there is no discussion indeed :p

[2020-04-04 17:26] pingiun opened #1073 "Manually entered usernames not lowercased in registrations"
### Describe the bug
Manually entered usernames are not lowercased in registrations.

### How to reproduce
Steps to reproduce the behaviour:
1. Create a registration
2. Enter a manual username that is not completely lowercase
3. Complete the registration
4. Try to log-in with the new user
5. It is not possible

### Expected behaviour
The username should have been lowercased, since it is not possib

[2020-04-05 20:15] se-bastiaan commented on #1073
The issue here is not that someone with a capiital in the username is not able to login. The problem is that this user had a non-lowercase character in the first place.

We have overridden forms to support case insensitive usernames in [user creation](https://github.com/svthalia/concrexit/blob/master/website/members/forms.py#L48), [user modification](https://github.com/svthalia/concrexit/blob/mast

[2020-04-05 20:22] se-bastiaan commented on #1073
I would say this is easy to fix, but it would require an extra test case to prevent this from happening again.

[2020-04-09 14:51] #1023 closed

[2020-04-09 14:51] #1033 closed

[2020-04-09 15:01] #995 closed

[2020-04-14 09:50] jendusseljee opened #1080 "Translate contact info for companies"
A very simple feature request.

Can the e-mail address for companies on the English contact page be changed to collaboration@thalia.nu (instead of samenwerking@thalia.nu)?

[2020-04-15 14:42] se-bastiaan opened #1081 "Investigate import-export library"
### Describe the change
We could may be use https://django-import-export.readthedocs.io/en/latest/# for the importing (do we do that?) and exporting of information.

### Motivation
We have a lot of duplicated csv exporting. And we have limited this to only what is necessary. With such a plugin exporting would become a breeze for all the data we have.

### Current implementation
We have duplicated

[2020-04-22 20:28] se-bastiaan commented on #1072
@JobDoesburg

[2020-04-22 22:34] JobDoesburg commented on #1072
I won't talk for the board but some people thought 'hey we might want an opt-out'. Then the thabloidcie said 'that's a thing the board should decide' and then Tim said 'yeah we want this'.

[2020-04-27 13:34] #1080 closed

[2020-04-27 13:35] #1064 closed

[2020-04-27 20:37] se-bastiaan opened #1089 "Newsletters show unpublished events"
### Describe the bug
Newsletters show unpublished events

### How to reproduce
Steps to reproduce the behaviour:
1. Check one of the newsletters of the last weeks

### Expected behaviour
Only published events should show.

### Additional context
This is probably because of the low number of events during these days.

[2020-05-04 12:08] se-bastiaan opened #1095 "Remove the 2020 almanac page"
### Describe the change
The page is not required anymore, so it could be removed. It is basically reverting this commit: https://github.com/svthalia/concrexit/commit/c86bd7af839c39f63edc96616d26a2aead535d6f and some changes done afterwards.

### Motivation
It is now unused

[2020-05-04 14:17] gitLabor8 opened #1096 "Clarifying text on summary reward"
Hi! I know you're less productive due to Corona, but on behalf of the educacie and with approval of the board I have this two-sided feature request. Thanks in advance!

### Is your feature request related to a problem? Please describe.
1) There is a rule in place that let's us reward the industrious students that write summaries and show them to others via [the Course Overview](https://thalia.nu/e

[2020-05-04 14:28] se-bastiaan commented on #1096
The phone numbers in the user accounts are taken based on consent. Given that they're optional. So if people have entered a phone number we are allowed to just give you the phone number in the admin.

The privacy policy states:

Since giving people money for summaries is an activity of Thalia this can be seen as valid use of the information. And thus we can show profile information of the Thalia u

[2020-05-09 09:32] se-bastiaan opened #1100 "Use CSS variables for dark mode"
### Describe the change
Use CSS variables instead of SASS variables for our colour schemes like changing dark mode.

https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
https://sparanoid.com/note/css-variables-guide/
https://engineering.fb.com/web/facebook-redesign/

### Motivation
It would mean less files to maintain and 77KB less to load on first page visit.

### Current

[2020-05-10 17:08] #1089 closed

[2020-05-10 17:11] #1072 closed

[2020-05-10 17:32] se-bastiaan commented on #965
@joren485 can this be solved by using a robots.txt?

[2020-05-10 17:46] se-bastiaan commented on #951
The issue mentioned here cannot be opened anymore and I cannot reproduce this. So I'm closing this.

[2020-05-10 17:46] #951 closed

[2020-05-10 17:47] joren485 commented on #965
Apparently not ([source](https://support.google.com/webmasters/answer/6062608)). It might be possible by sending the `X-Robots-Tag: noindex` header.

However, I don't think blocking these PDFs, but keeping them publicly accessible, is a good idea. There will always be sites scraping sites for PDFs even with a draconic `robots.txt` (or something similar).
If you do not want a webpage/PDF to be scra

[2020-05-10 18:18] se-bastiaan commented on #1028
I believe this has been fixed in another PR

[2020-05-10 18:18] #1028 closed

[2020-05-10 18:39] se-bastiaan commented on #1013
Unable to reproduce this, there is no subquery that we do here that should only get one single result

[2020-05-10 18:39] #1013 closed

[2020-05-10 18:47] se-bastiaan commented on #1020
I'm closing this since (as far as I know) we are keeping the notes as well and thus showing the topic to users is not really necessary.

I'd be happy to discuss this if someone thinks it would be better to only include the topic of something like that.

[2020-05-10 18:47] #1020 closed

[2020-05-10 18:49] se-bastiaan commented on #971
I believe sending plain text emails is perfectly fine for what we do. Only for the information check this made sense since we have that table in there. But only adding this because it looks nice is not a good reason imo since it adds a lot of overhead and decreases maintainability of the emails.

[2020-05-11 09:28] JobDoesburg commented on #965
The point most people had was that we didn't really like the fact that you can easily search for a name of a person on google and directly find a thabloid in which he/she is mentioned. We didn't think it was a true problem that the thabloids are publicly available, but we thought it would nice if they were a bit harder to find than on the first hit on Google. I think most obvious search-engines re

[2020-05-11 10:54] se-bastiaan commented on #965
Only having the directly viewable version available does make sense to me, but doesn't google crawl texts in images as well?

[2020-05-11 10:54] #1068 closed

[2020-05-11 10:55] #1073 closed

[2020-05-11 10:55] #1018 closed

[2020-05-11 10:55] JobDoesburg commented on #965
I think they do secretly, but I don't think they publish it as search results

[2020-05-11 11:07] se-bastiaan commented on #965
I think that may be the best solution then. Also given that people are then allowed to view the thabloid but not completely download it unless you are a member. That makes sense to me.

[2020-05-13 20:00] se-bastiaan commented on #980
I am closing this issue as a bit of cleanup, I don't think we will ever be able to do this since committees control themselves if they use and share the calendar we made at the beginning.

[2020-05-13 20:00] #980 closed

[2020-05-17 20:20] se-bastiaan opened #1115 "Cancelling from waiting list after deadline shows fine warning"
### Describe the bug
A clear and concise description of what the bug is.

### How to reproduce
Steps to reproduce the behaviour:
1. Go to an event
2. Make sure you are registered and on the waiting list, and that the event is after the cancellation deadline
3. Cancel your registration
4. Show the warning that you have to pay a fine, if after the unregistration deadline

### Expected behaviour
No w

[2020-05-17 20:22] se-bastiaan opened #1116 "Use a different colour for waiting list events"
### Is your feature request related to a problem? Please describe.
In the event overview calendar, the dot in front of the event is colored as if you are registered. And this is confusing.

### Describe the solution you'd like
Use a different colour for events you're on the waiting list for.

### Motivation
Better user experience.

### Describe alternatives you've considered
There is not really an

[2020-05-17 20:27] se-bastiaan opened #1117 "Personal iCal feeds show events that you are on the waiting list for"
### Describe the bug
In the calendar stream, the event does appear in your calendar even if you're only on the waiting list

### How to reproduce
Steps to reproduce the behaviour:
1. Make sure you are on the waiting list for an event
2. Check that it appears in the ical feed

### Expected behaviour
Not showing the event in the ical feed if you're on the waiting list.

### Additional context
Create

[2020-05-17 20:27] se-bastiaan commented on #1007
I have split up this issue in the above three tasks.

[2020-05-17 20:27] #1007 closed

[2020-05-18 16:37] #1095 closed

[2020-05-18 16:38] #972 closed

[2020-05-18 16:38] #967 closed

[2020-05-27 12:15] jendusseljee commented on #999
Sorry for the late response.
If it is not too much effort to implement it would be nice if the website could just send an email to the partnercie for expiring profile pages. Most contracts indeed run from 1 sept - 31 august, but there are quite some companies that join us somewhere in the middle of the year.

It is not necessary but, in my opinion, it would be nice to have this automated as it wou

[2020-05-27 12:46] #1017 closed

[2020-05-27 12:49] thaliawww-service opened #1120 "Fix "complex_logic" issue in website/events/services.py"
Consider simplifying this complex logical expression.

https://codeclimate.com/github/svthalia/concrexit/website/events/services.py#issue_5ece61c6b391e1000100034b

[2020-05-27 12:57] thaliawww-service opened #1122 "Fix "complex_logic" issue in website/activemembers/models.py"
Consider simplifying this complex logical expression.

https://codeclimate.com/github/svthalia/concrexit/website/activemembers/models.py#issue_5ece5c04bce51d000100032a

[2020-05-27 13:09] se-bastiaan commented on #999
The point is not that it is too much effort to implement.

Fact is that we have implemented something like this before and it was _not used_. How will we know what we build is going to be used or is something that we can remove again after two years?

This may not be a piece of overhead anymore for the external affairs, but it will become a piece of overhead for us. Even though I believe you could

[2020-05-27 13:10] #1120 closed

[2020-05-27 18:08] #1122 closed

[2020-05-27 18:12] pingiun commented on #1117
Turns out it's pretty hard to select these events in a query. I tried to do it in sql first, and came up with this query:
[code]

[2020-05-27 19:01] se-bastiaan commented on #1117
I personally think that being on the waiting list should actually show in your personal calendar, at least I prefer it that way since I'm still hoping to be at the event. If it is not in my calendar I will easily forget it.

[2020-05-27 19:23] pingiun commented on #1117
That's fine with me too, I think we can close this then

[2020-05-27 19:23] #1117 closed

[2020-05-28 10:25] pingiun commented on #1115
Was able to reproduce this on the staging website:
<img width="598" alt="image" src="https://user-images.githubusercontent.com/1576660/83130200-3d4f1c00-a0de-11ea-833a-1ef37a6dacc4.png">

Wrote a test to confirm this behaviour:
[code]

[2020-05-28 11:53] thaliawww-service opened #1125 "Fix "similar-code" issue in website/activemembers/admin.py"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/svthalia/concrexit/website/activemembers/admin.py#issue_5eceacbde96d31000100042c

[2020-05-28 12:09] thaliawww-service opened #1127 "Fix "complex_logic" issue in website/members/models/membership.py"
Consider simplifying this complex logical expression.

https://codeclimate.com/github/svthalia/concrexit/website/members/models/membership.py#issue_5eceacb0e96d310001000384

[2020-05-28 12:40] #1127 closed

[2020-05-28 12:43] #1115 closed

[2020-05-28 12:44] #1125 closed

[2020-05-28 13:48] thaliawww-service opened #1132 "Fix "similar-code" issue in website/members/static/members/js/statistics.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/svthalia/concrexit/website/members/static/members/js/statistics.js#issue_5ecfb898ede42200010003aa

[2020-05-31 21:11] thaliawww-service opened #1134 "Fix "identical-code" issue in website/education/admin.py"
Identical blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/svthalia/concrexit/website/education/admin.py#issue_5ecfbb80e8d0fa00010003f6

[2020-06-04 19:50] #1134 closed

[2020-06-04 20:09] #1132 closed

[2020-06-05 08:09] Altimv opened #1140 "Memberships can't end in the future"
At group memberships in the back-end, you can't select a date in the future. This year, I regularly already knew the date a member would leave the committee, but had to write this down somewhere until that date actually arrived, and hope I wouldn't loose that note in the meantime. It would be very nice to be able to give end-dates in the future.

[2020-06-05 11:00] se-bastiaan commented on #1140
The reason that we currently do it this way is because we have to remove the 'staff' permission from the website if necessary (and thus to remove the G Suite account, because that is connected). This requires an action at this exact moment. Which is exactly what https://github.com/svthalia/concrexit/issues/312 exists for, but that is only focused on boards. It solves the same problem actually. The

[2020-06-05 11:00] #1140 closed

[2020-06-06 12:05] 9Y0 commented on #1096
Reopened since the `ul` shouldn't look like this ![](https://i.gyazo.com/b57bcc08d8b898c8b0e9107c5bd757fe.png)

[2020-06-06 20:21] #1096 closed

[2020-06-07 08:35] JobDoesburg opened #1142 "Membership page shows 'you are a benefactor' if user does not have any memberships"
### Describe the bug
Membership page shows 'you are a benefactor' if user does not have any memberships and language is Dutch

### How to reproduce
Steps to reproduce the behaviour:
1. Be a user without memberships
2. Set your language to Dutch
2. Visit `/user/membership/`
3. It says "You are a benefactor, contact the board (...)" (in Dutch)

### Expected behaviour
It should say something like "yo

[2020-06-07 08:37] JobDoesburg commented on #1142
I wouldn't say this is very important since this scenario doesn't apply that often in practice, yet it is still a bug

[2020-06-07 08:41] JobDoesburg opened #1143 "Can't add bank account without active membership"
### Describe the bug
Users without memberships cannot add a bank account to their account because they don't have the permissions.

### How to reproduce
Steps to reproduce the behaviour:
1. Be a user without an active memberships
2. Try to add a bank account via `/user/finance/accounts/add/`
3. Permission denied

### Expected behaviour
This should still be possible, since the fact that someone can

[2020-06-07 09:03] se-bastiaan commented on #1142
![Screenshot 2020-06-07 at 11 02 29](https://user-images.githubusercontent.com/1799914/83964598-69248b80-a8ae-11ea-95cf-ccb452c841fe.png)

[2020-06-07 09:03] se-bastiaan commented on #1142
This is a wrong translation.

[2020-06-07 09:21] JobDoesburg commented on #1081
The only places where importing might be nice to have is:
- mentorships
- email groups (think of study-trip participants)
- possibly in the far future: payments
- courses
- pizza products

Exports might be nice at many places of course

[2020-06-07 10:06] se-bastiaan commented on #1143
This only needs removal of the decorator

[2020-06-07 13:22] rvbrakel opened #1144 "E-mail change confirmation send to wrong(?) mailbox"
### Describe the bug
After changing your e-mail address the last confirmation is send to the **new** inbox, while it is stated after clicking on the confirmation URL it was send to the **old** mailbox.

### How to reproduce
Steps to reproduce the behaviour:
1. Change your mailadres
2. Confirm request via mail in your **old** mailbox
3. Confirm request via mail in your **new** mailbox
4. See on Tha

[2020-06-14 14:55] thomwiggers opened #1149 "Fix link to Gitlab in footer"
### Describe the bug
Thalia's stuff is no longer on Gitlab.

### How to reproduce

![image](https://user-images.githubusercontent.com/974662/84596766-e5dfd880-ae5f-11ea-9bcc-1d1795e36af3.png)

[2020-06-14 19:29] se-bastiaan commented on #1149
Was changed in #1041, we just have not released since the March.

[2020-06-14 19:29] #1149 closed

[2020-06-15 13:04] thomwiggers commented on #1149
The last time we had such a long release lapse we replaced the website :joy:

[2020-06-17 19:30] JobDoesburg opened #1155 "Display honorary membership start date"
### Is your feature request related to a problem? Please describe.
I am interested in when people became honorary member, but you can't find it on the website. However for admins, this data is visible

### Describe the solution you'd like
On the profile page of honorary members, display the date they became honorary member

### Motivation
The members administration has this information

### Descri

[2020-06-17 19:31] JobDoesburg commented on #1155
Note that it is subtly different from the cohort of the honorary member!

[2020-07-03 08:15] sentry-io[bot] opened #1163 "FieldError: Cannot resolve keyword 'registration' into field. Choices are: cancel_deadline, category, descrip..."
Sentry Issue: [CONCREXIT-2Z](https://sentry.io/organizations/thalia/issues/1761243401/?referrer=github_integration)

[code]

[2020-07-03 08:31] se-bastiaan commented on #1096
@gitLabor8 This has been released

[2020-07-08 16:53] Legosteen11 opened #1166 "Add security.txt"
### Is your feature request related to a problem? Please describe.
Currently there is no security.txt available (https://securitytxt.org/)

### Describe the solution you'd like
We should add a security.txt file

### Motivation
Security is important!

[2020-07-15 15:37] #1163 closed

[2020-07-23 15:18] joren485 opened #1170 "Move Docker image to GitHub Packages"
### Describe the change
GitHub supports repository Docker images through GitHub Packages. We should move the Concrexit Docker images to GitHub Packages.

### Motivation
No more dependence on Docker Hub (but a little bit more vendor-locked to GitHub).

[2020-08-01 11:10] joren485 opened #1171 "Downloading albums fills up the disk"
### Describe the bug
When a user wants to download an album, the website creates a zip file containing all photos (in `/tmp` of the Docker container). If multiple albums are downloaded, multiple large zip files are created. This very quickly fills up the disk.

We should remove this functionality to prevent this. It is not used often so that should not be a problem for members.

### Additional con

[2020-08-02 22:46] JobDoesburg commented on #1081
I've used it in a couple of my own projects and it works really well

[2020-08-03 10:32] joren485 opened #1176 "The webpage of newsletter 264 says "CafÃ© Van Ouds" instead of "Café van Ouds""
### Describe the bug
The webpage of newsletter 264 says "CafÃ© Van Ouds" instead of "Café van Ouds"

### How to reproduce
1. Go to [the webpage of newsletter 264](https://thalia.nu/newsletters/264/).
2. Scroll down to the craft beer borrel.

### Expected behaviour
"Café van Ouds"

### Screenshots
![2020_08_03_12_30_33](https://user-images.githubusercontent.com/7031489/89173843-2668f200-d585-11ea-8

[2020-08-09 17:31] Jorritboer commented on #935
What is the progress on this? Seeing as we are unsure if the board room can be open in the beginning of the year, having this feature would be great so people can pay for their membership regardless.

[2020-08-11 12:13] se-bastiaan opened #1179 "Member statistics is missing data"
### Describe the bug
Member statistics is missing data

### How to reproduce
Steps to reproduce the behaviour:
1. Go to https://thalia.nu/members/statistics/
2. Check the 'total number of (honorary) members and benefactors per cohort)
3. Where is all the data?

### Expected behaviour
Nice data graph including data of normal members.

### Screenshots
![Screenshot 2020-08-11 at 14 09 27](https://use

[2020-08-11 12:15] se-bastiaan commented on #1155
Like this for example :)

![Screenshot 2020-08-11 at 14 15 27](https://user-images.githubusercontent.com/1799914/89896080-213b2100-dbdd-11ea-988d-4fbef2aa1159.png)

[2020-08-11 12:35] joren485 opened #1180 "Benefactors/honorary member statistics show wrong on statistics page"
### Describe the bug
The statistics page has a graph showing the amount of benefactors and honorary members per cohort. However, the graph shows members that are currently a benefactor or a honorary member that had a membership (of any type) in a certain cohort.

For example, currently the graph tells us there are two benefactors and zero honorary members in the year 2017 (which I assume is academ

[2020-08-11 12:39] joren485 commented on #1180
Duplicate of #1179

[2020-08-11 12:40] joren485 commented on #1179
As I said in the duplicate #1180:

[2020-08-11 12:57] se-bastiaan commented on #1179
If you mean Mats by the honorary member then he is categorised under 'Older' because he is cohort (started his studies in) 2011. Any benefactors from 2017 may also have other cohorts because they started studying in earlier years. Or if they're missing here: they are no longer a benefactor.

[2020-08-11 12:57] #1170 closed

[2020-08-11 13:00] JobDoesburg opened #1181 "Statistics page: 'current number of Thalians' does not count unique members"
I haven't looked at the code to verify this, but I think I'm pretty certain.

### Describe the bug
Statistics page: 'current number of Thalians' does not count unique members, but only the number of memberships. Hence, if somebody changes from member to benefactor, or member to honorary member, the count is incorrect.

### How to reproduce
Check statistics page

### Expected behaviour
Count the nu

[2020-08-11 13:01] joren485 commented on #1179
Mats wasn't a honorary member in 2011, so he should not be counted as a honorary member for "Older", but as one for 2017. In my understanding, the graph should show benefactors and honorary member memberships that started in the specific cohorst.

[2020-08-11 13:33] se-bastiaan commented on #1179
The cohort you see here is the value that is in the admin 'Starting year' and the confusion is exactly why the field was changed from 'cohort' to 'starting year'. The term cohort as used by the university is the year you started in. Even though I my membership status will change from member to benefactor at some point my cohort will always stay 2014.

[2020-08-11 13:37] joren485 commented on #1179
The graph shows exactly that. For example, there are 2 people from cohort 2017 that are currently benefactors.

What would you like to see changed?

[2020-08-11 14:56] se-bastiaan commented on #1179
The graph is missing every single non-honorary member.

[2020-08-11 15:01] joren485 commented on #1179
No it is not, the graph shows the current benefactors that had some type of membership for each cohort year on the graph ([for example 2017 has 2 benefactors](https://thalia.nu/admin/auth/user/?membership=benefactor&profile__starting_year=2017)).

[2020-08-11 15:05] se-bastiaan commented on #1179
Benefactor != non-honorary member

We have three types here:
- Benefactor
- Member
- Honorary member

Every user with the membership of type Member is missing.

[2020-08-11 15:07] joren485 commented on #1179
Alright, I think we are talking about two different issues here. I will reopen my issue.

[2020-08-11 15:09] joren485 commented on #1180
After some discussion, it turns out that this issue is not a duplicate.

- #1179 is about adding member data to the "Total number of (honary) members and benefactors per cohort" graph.
- This issue is about the wrong (or at least confusing) statistic that the "Total number of (honary) members and benefactors per cohort" graph is tracking.

[2020-08-11 15:12] se-bastiaan commented on #1180
The cohort you see here is the value that is in the admin 'Starting year' and the confusion is exactly why the field was changed from 'cohort' to 'starting year' in that admin. The term cohort here is the one used by the university as the year you started in. Even though my membership status will change from member to benefactor at some point my cohort will always stay 2014.

Doesn't mean we can c

[2020-08-11 15:15] joren485 commented on #1180
I prefer changing the statistic it is tracking, because I don't think the statistic it is tracking now is that interesting.

I find "How many benefactors did we have in year x" more interesting than "How many current benefactors did have some type of membership in year x". I also find the first statistic less confusing.

[2020-08-11 15:19] se-bastiaan commented on #1181
The count uses the following exploded query:
[code]
being `Member.current_members.count()` in the codebase.

Or: the distinct count of all members that have a membership of which the end date is empty or lies before today.

Since I am not sure what the query for the export was I would say that this one is correct.

--
However after typing this I am not 100% sure how this works because `membership`

[2020-08-11 15:19] se-bastiaan commented on #1180
That is also fine, but in that case it would be a feature request and not a bug report :p

[2020-08-11 15:21] joren485 commented on #1180
Well I do think it is a bug, because it does not show the statistic that it is intended to show. But I guess it depends on what it is intended to show.

[2020-08-11 15:24] se-bastiaan commented on #1181
https://github.com/svthalia/concrexit/blame/c7030ca1db9669ce9b178dca3bd55e18b1ab7cea/website/members/models.py#L33
https://github.com/svthalia/concrexit/commit/6aab5288824bbb171aa58b0636a240e6232b977d#diff-5457231243cd6e1b81dc3dc3d517c3b8R38
https://github.com/svthalia/concrexit/commit/3412a64e0cc3b3761c562aa1761efe000d5f4e77

goes back to

https://github.com/svthalia/concrexit/commit/41d4a1de6c00

[2020-08-11 21:34] JobDoesburg commented on #1155
Exactly! (but with a $d-$m-$Y date…)

[2020-08-15 15:19] se-bastiaan opened #1184 "Add information about wire transfer to registration payment emails"
### Is your feature request related to a problem? Please describe.

People that are currently joining Thalia or renewing their membership are hardly able to visit the board room to pay for their membership.

### Describe the solution you'd like

It would be nice if the payment email gave the direct option for wire transfers.

### Motivation

This takes away a lot of work for the treasurer to email

[2020-08-17 14:13] pingiun commented on #1176
This might be dependent on email clients. This looks like the email client defaulting to ISO/IEC 8859-1:1998, when the email was sent with UTF-8 encoding. Maybe a header can be set to inform the email client of the UTF-8 encoding

[2020-08-17 14:18] pingiun opened #1188 "Dataminimization breaks editing user profiles"
### Describe the bug
I cannot edit the profiles and user information of users whose data has been minimized.

### How to reproduce
Steps to reproduce the behaviour:
1. View member information with missing data fields (due to minimization)
2. Try to edit a value (e.g. email address)
3. Save form
4. Form cannot be saved because of data inconsistency errors

### Expected behaviour
Edits in incomplete

[2020-08-17 14:19] joren485 commented on #1176
This does not seem to occur in the email clients I tried, but on [the web version of the newsletter](https://thalia.nu/newsletters/264/).

[2020-08-17 14:19] pingiun commented on #1188
Suggested fix: Allow these fields to be null or empty, or remove the whole profile when minimizing and add some process to restore the profile after renewal

[2020-08-17 14:24] se-bastiaan commented on #1188
We cannot allow these fields to be blank because they are user editable.

It is mostly connected to https://github.com/svthalia/concrexit/issues/706, because renewals without profile information should technically not be possible at all.

I think what you want here is a way for you to change the email address and password of a user without editing the profile.

[2020-08-17 14:27] pingiun commented on #1188
Yes, and I think this is mostly fine because the people who have access to the user backend will be pretty careful with the data.

Related to this: I have changed addresses to `N/A` and `Unknown` values in the past because other changes were necessary and I did not see the need to ask a couple dozen people for their address and wait for that to be filled in. I think empty or null values would be b

[2020-08-17 19:31] se-bastiaan commented on #1188
We could technically also data minimise and not set the fields to blank values? '<unknown>' as city works just fine

[2020-08-25 13:20] pingiun commented on #1188
Yeah that could be a viable solution

[2020-08-25 13:23] pingiun commented on #1176
Ah then this should be a super easy fix. A meta tag should be added to the created web page:

[code]

[2020-08-25 14:12] joren485 opened #1192 "Postgres not used in Docker Compose"
### Describe the bug
The `postgres` Docker Compose service in `docker-compose.yml` is not used. A container and a database are created, but the Concrexit service (`web`) uses SQLite.

[2020-08-29 14:23] sentry-io[bot] opened #1195 "Deleting of EventInformationFields does not work"
Steps to reproduce:

1. Create a new event with fields
2. Try to delete a field

Sentry Issue: [CONCREXIT-3K](https://sentry.io/organizations/thalia/issues/1865653504/?referrer=github_integration)

[code]

[2020-08-29 14:29] #1184 closed

[2020-08-31 08:02] #1195 closed

[2020-08-31 19:10] se-bastiaan commented on #1144
I'm not sure I get the issue exactly. I have everything and what should happen is:

1. Change email
2. Accept confirmation in both the old and new inboxes
3. Based on which one you open you get a different text

[2020-08-31 19:14] se-bastiaan commented on #1144
I did try this and the only problem I found is that the last confirmation email that you get is in English.

![Screenshot 2020-08-31 at 21 11 26](https://user-images.githubusercontent.com/1799914/91757635-ef5f1e00-ebce-11ea-92ec-3e3756717bcc.png)

And I think I now get the confusion. The two pages point to each other but if you accept the one from your new inbox last then you still get the third a

[2020-09-01 11:58] se-bastiaan opened #1198 "Events presence registration in app creates payment"
### Describe the bug

Events presence registration in app creates payment

### How to reproduce
Steps to reproduce the behaviour:
1. Create an event with registrations
2. Register
3. Mark the registration as present _in the app_
You can simulate this by going to the registration using the API on `/v1/api/registrations/` and patching the body:
[code]
4. Note that a payment with the status 'no payme

[2020-09-01 11:59] se-bastiaan commented on #1181
We found that the export and the pages were from different times and thus the number of members increased since we count all future members as well.

[2020-09-01 11:59] #1181 closed

[2020-09-02 18:40] pingiun opened #1200 "Remove Dutch translation from the website"
### Describe the change
The new policy of the board is that the website only has to support English, we should remove all the Dutch translations

To do:
- [x] Remove Dutch from settings.LANGUAGES (#1202)
- [x] Remove po and mo files (#1202)
- [ ] Remove mutilingualfield util functions and class

Remove multilingual field and the references to _en attributes from the following apps:
- [x] activemem

[2020-09-02 19:26] mark-boute opened #1201 "Thalia Discord user sync concrexit-bot"
### Create a bot which will assign roles to users in discord using invokes from concrexit

Because of COVID-19 we will probably be using the S.V. Thalia discord server a lot more, so it should have modest moderation.
It would be nice to assign roles to users based on their Thalia Profile, adding roles showing their Cohort, what committees/groups/boards they are in and what their member status is.

[2020-09-02 21:24] 9Y0 commented on #1198
Looks like it is an issue [here](https://github.com/svthalia/concrexit/commit/732015365471404dbceb20d2bcf8995e55dc6016#diff-fea01ddf09080902cc7967c2de85b792R295-R299) introduced by #1173

Can't test it since I couldn't get the app running

[2020-09-02 21:31] #1144 closed

[2020-09-03 07:29] se-bastiaan commented on #1200
Maybe what I wrote in the PR should also be here:

You say

The thing the board wanted is 'English-only' website I believe. That is fine, but this seems to be a half-hearted approach to solve something nobody has asked us to do yet. A partially English-Dutch website is a no-go in my opinion.

[2020-09-03 10:26] pingiun commented on #1200
The main thing I am concerned about is old event texts that are only available in Dutch because the English version only says something like "this event is in Dutch, read the Dutch text for more information". I don't think it's a good idea to throw these old texts away.

[2020-09-03 11:47] se-bastiaan commented on #1200
But what do we want to do with those texts? I think everything from at least the past two years has been in both Dutch and English. And I know that events that were Dutch-only had that as start of the event text, the rest was in Dutch even for the English users. Mostly because people complained that they didn't want to switch languages just because they as Dutchies used the English website.

[2020-09-03 13:15] se-bastiaan commented on #1198
Mmm it is not really possible for #1173 since it never been released on production.

[2020-09-04 14:06] #1198 closed

[2020-09-06 20:02] se-bastiaan commented on #978
I am also unable to reproduce this.

[2020-09-06 20:02] #978 closed

[2020-09-07 09:56] pingiun commented on #1200
You make a good point. So do you think it would be fine to just throw away all the translations we have?

[2020-09-08 10:37] mariesophiesimon commented on #1200
Sebas noted very correctly that we did want Dutch fields to be optional, but everything should be English. The events that are only available in Dutch, like lectures from the Defense or so, we are also still a little torn about. On the one hand it would be weird for members to describe a Dutch event in English, however we do want to avoid inconsistency on the website. There were different suggesti

[2020-09-08 18:51] JobDoesburg commented on #965
I got a message from @mariesophiesimon about this and that motivated me to start working on this. But the way it is written makes it pretty hard to realize this.

[2020-09-10 13:25] se-bastiaan commented on #965
Depends on what the exact message was, I think that we may be missing some context?

If it is easy to make them completely private then we could do that and leave the issue open to make the images available later? I'm not sure what the exact problem is that you are running into. Imo it could just all be private.

In any case, the files need to be moved on the server to be able to do this. That is

[2020-09-10 13:37] se-bastiaan commented on #1200
As I already mentioned to @pingiun directly I think it is perfectly fine to remove all the translation data that we have for old events etc. Because:

https://gerrymcgovern.com/digital-is-garbage/

What we should not do is remove the Dutch summaries and exams (since there are a lot in our database) or the Dutch association documents (since those are the official ones). Everything else can be Engli

[2020-09-18 16:12] #1002 closed

[2020-09-19 09:41] JobDoesburg opened #1228 "Manually creating payments does not work (invalid UUID)"
### Describe the bug
Manually creating a payment in the admin will fail on a ValidationError ['“something” is not a valid UUID.']. This should be possible actually

### How to reproduce
Try to create a payment in the admin directly (so not via `create_payment`)

### Expected behaviour
It should be possible. Moreover, the payment type should be selectable in the admin.

[2020-09-19 10:24] JobDoesburg opened #1229 "Change registration contribution from FloatField to DecimalField"
### Describe the change
We currently user FloatFields for contribution amounts. We should use DecimalField's.

### Motivation
Events also use DecimalFields for the price of an event. Also, consider [https://docs.python.org/3/library/decimal.html#module-decimal](https://docs.python.org/3/library/decimal.html#module-decimal)

### Current implementation
FloatFields

### Suggested implementation
Just

[2020-09-19 10:31] #929 closed

[2020-09-19 10:31] #930 closed

[2020-09-19 21:32] mark-boute opened #1232 "Translation missing on Vacancies pages"
In the filter tab of the [Vacancies](https://thalia.nu/career/vacancies#) page there are two missing translations for 'bijbaan' and 'stage'

![image](https://user-images.githubusercontent.com/33718602/93689590-5c7c1a00-fad0-11ea-8b51-b13875e8f900.png)

[2020-09-20 08:35] se-bastiaan commented on #1232
This is not a bug, it is non-translated dynamic content. Notifying the board to correct the issue would have been the correct solution.

[2020-09-20 08:35] #1232 closed

[2020-09-21 20:29] #1003 closed

[2020-09-21 20:57] se-bastiaan commented on #957
#1054 closes this issue

[2020-09-21 20:57] #957 closed

[2020-09-21 20:59] se-bastiaan commented on #988
Safari 14 adds webp support, but only on macOS Big Sur and later :|

[2020-09-22 09:39] se-bastiaan commented on #1229
This is also a good read: https://stackoverflow.com/questions/2569015/django-floatfield-or-decimalfield-for-currency

[2020-09-22 09:39] se-bastiaan commented on #1229
This is also a good read: https://stackoverflow.com/questions/2569015/django-floatfield-or-decimalfield-for-currency

[2020-09-22 09:55] se-bastiaan opened #1238 "Registrations with ß fail to generate the username"
### Describe the bug

Registrations with ß fail to generate the username

### How to reproduce
Steps to reproduce the behaviour:
1. Create a new registration
2. Enter a lastname with the ß
3. Approve
4. See that the username field is still empty

### Expected behaviour

It should generate a username replacing the `ß` with `ss`

### Additional context

https://en.wikipedia.org/wiki/ß

[2020-09-22 10:04] #983 closed

[2020-09-22 11:17] #940 closed

[2020-09-22 12:20] JobDoesburg commented on #947
- Make the "Pay with Thalia Pay" appear as disabled button for people that do not have Thalia Pay enabled yet, with redirect to BankAccountCreateView.
- Write some extra explanation on the BankAccountListView and BankAccountCreateView
- Maybe clarify the PaymentProcessView?

And on release we can send an email and add a banner to the site.

[2020-09-22 12:29] JobDoesburg opened #1239 "Send email with Thalia Pay payments that will be withdrawn on batch processed"
### Describe the solution you'd like
When a payment batch is processed, all users that are in that batch should receive an email notifying them that we will withdraw some amount from their bank account.

### Motivation
It is required for the SEPA direct debit mandate

[2020-09-23 15:57] JobDoesburg opened #1240 "Use payment_button for pizza payments with Thalia Pay"
### Describe the change
Use payment_button for pizza payments with Thalia Pay

### Motivation
Uniformity

### Current implementation
We are using special payment views for pizza payments.

### Suggested implementation
Make pizza orders Payable and use the payment_button and PaymentProcessView from payments

[2020-09-23 16:00] JobDoesburg opened #1241 "Add Thalia Pay to the API"
### Is your feature request related to a problem? Please describe.
We want to use Thalia Pay in the app as well

### Describe the solution you'd like
For that, we need to change the API

### Motivation

### Describe alternatives you've considered

### Additional context

[2020-09-23 16:05] JobDoesburg commented on #1081
It appears to be more difficult than I thought upfront, because `import-export`-admins are only able to just import/export model fields. It is more complex if, for example, you want to include 'the email of the user of this event registration' or 'the number of registrations / cancellations for this event' in the export. It is not impossible, but it is quite complex...

[2020-09-23 16:41] sentry-io[bot] opened #1242 "User creation in the admin is broken"
Sentry Issue: [CONCREXIT-3F](https://sentry.io/organizations/thalia/issues/1844597243/?referrer=github_integration)

[code]

[2020-09-23 18:39] JobDoesburg opened #1245 "Move photos to S3 (fullres)"
### Is your feature request related to a problem? Please describe.
Currently there are 2 places where we store photos: the Paparazcie photo archive on a shared G Suite drive, and the low res photos on concrexit. This is inconvenient, as we want to keep those 2 in sync but that needs to be done manually, and because people need to ask the Paparazcie for fullres files.

### Describe the solution you

[2020-09-23 21:29] #1239 closed

[2020-09-24 08:37] se-bastiaan opened #1249 "0008_migrate_processing_date cannot be run when existing Payables have payments"
### Describe the bug

Inside the `0008_migrate_processing_date` migration we delete payments. However, the payables they belong to protect them so the migration fails.

### How to reproduce
Steps to reproduce the behaviour:
1. Have an existing pizza order or membership renewal with a non-processed payment
2. Execute migration

### Expected behaviour
Successful migration.

### Additional context
[c

[2020-09-25 14:51] #1240 closed

[2020-09-26 11:41] #1249 closed

[2020-09-26 23:03] JobDoesburg opened #1252 "create fixtures crashes on "django.db.utils.IntegrityError: UNIQUE constraint failed: activemembers_membergroup.name""
### Describe the bug
When running `./manage.py createfixtures`, it crashes on the following error: `django.db.utils.IntegrityError: UNIQUE constraint failed: activemembers_membergroup.name`

### How to reproduce
Run `./manage.py createfixtures`

### Expected behaviour
Not crash

### Additional context
The reason this bug occurs, seems to be that after removing localization, we are using `member_gr

[2020-09-26 23:23] JobDoesburg commented on #1228
I just tried it again and now it works, so I think it isn't broken right now anymore.

[2020-09-26 23:23] #1228 closed

[2020-09-26 23:26] JobDoesburg commented on #962
Could very well be that after the rewrite with `create_payment` this is not a problem anymore

[2020-09-26 23:27] JobDoesburg commented on #936
Closed by #1048

[2020-09-26 23:27] #936 closed

[2020-09-28 18:57] se-bastiaan commented on #1252
This should be a result of https://github.com/svthalia/concrexit/pull/1216

[2020-09-28 20:44] JobDoesburg opened #1254 "Add debit execution date to payment batch and email"
### Is your feature request related to a problem? Please describe.
We should notify users, when they receive a withdrawal notice email, when the amount will be withdrawn from their account.

### Describe the solution you'd like
Add a 'withdrawal date' to a payment batch and include that date in the emails. The default value should be current date + 14 days.

### Motivation

### Describe alternativ

[2020-09-28 20:46] JobDoesburg opened #1255 "Remove pay_with_tpay service from events"
### Describe the change
Events app currently has a service `pay_with_tpay` that is not used.

### Motivation
Unused code should be removed

### Current implementation
Unused code

### Suggested implementation
Remove the unused code

### Additional context

[2020-09-28 20:57] JobDoesburg opened #1256 "Prevent event registrations cancelling when registration is paid (or where you were present)"
### Is your feature request related to a problem? Please describe.
Currently it is technically possible to pay for an event and afterwards cancel your registration. That should not be possible (at least not by users themselves). This never was a real problem in practice but now with Thalia Pay the problem appears.

### Describe the solution you'd like
When a payment exists for an event registratio

[2020-09-28 21:03] JobDoesburg opened #1257 "Add a per user 'is allowed to use Thalia Pay' property"
### Is your feature request related to a problem? Please describe.
We decided we want to roll out Thalia Pay as a closed beta. Also, we want to blacklist people from using Thalia Pay, for example if they have too large debts or for any other reason.

### Describe the solution you'd like
Every user gets a boolean property 'is allowed to use Thalia Pay'. Only if that is set to True, **and** he/she h

[2020-09-28 21:06] JobDoesburg opened #1258 "Make TPay payment button visible to everyone who is allowed to use Thalia Pay"
### Is your feature request related to a problem? Please describe.
We want to roll out Thalia Pay to as much people as possible. For that, people must know about the existence of Thalia Pay

### Describe the solution you'd like
The `Pay with Thalia Pay` button now is only displayed to people that have a valid bank account. We should change this to everyone who is allowed to use Thalia Pay (#1257),

[2020-09-28 21:08] JobDoesburg opened #1259 "Add Thalia Pay explanation to bank accounts page"
### Is your feature request related to a problem? Please describe.
Right now, the page where you can add a bank account does not explain anything about Thalia Pay or sepa direct debits. With the release of Thalia Pay, we should give some explanation.

### Describe the solution you'd like
Some explanation about how Thalia Pay works (perhaps on a separate page? Or in a collapsed box or something). M

[2020-09-28 21:10] se-bastiaan commented on #1254
I thought that the "in the upcoming days" was good enough?

[2020-09-28 21:13] JobDoesburg opened #1260 "Display current amount of Thalia Pay debts on PaymentProcessView page"
### Is your feature request related to a problem? Please describe.
It should be clear to people, every time they pay with Thalia Pay, what their debts are. Also it is nice for the board to have this information at hand.

### Describe the solution you'd like
- A user property that calculates the sum of all unprocessed Thalia Pay payments for that user
- Display that amount on the page where users c

[2020-09-28 21:19] JobDoesburg opened #1261 "Add payment batch export per topic as plaintext view"
### Is your feature request related to a problem? Please describe.
The current .csv export for Payment Batches is nice, but for Conscribo we **also** need it as just copy-pasteable plaintext. That would make things way easier.

### Describe the solution you'd like
An extra button, next to the 'export batch per topic'-button, 'show per topic', that will render a simple admin page with the content o

[2020-09-28 21:20] se-bastiaan commented on #1257
Maybe it would be good to negate the value? Otherwise you have to set the boolean to true for every single user.

Not that it is hard, but as blacklist it would make more sense I think

[2020-09-28 21:21] JobDoesburg commented on #1257
Agreed

[2020-09-28 21:23] JobDoesburg commented on #1254
I thought we decided that was too vague. Especially as you probably want to schedule things so that they will be debited the day after ome Duo. Clarity for users is nice I think

[2020-09-28 21:26] JobDoesburg opened #1262 "Add a simple incrementing reference number to Payment Batches"
### Is your feature request related to a problem? Please describe.
For bookkeeping purposes, it would be nice if payment Batches would have a simple incrementing reference number. That way, we can easily search for a batch and easily verify whether all batches are in the bookkeeping and vice versa. Currently, batches only display a non-unique description (which should stay!) and a unique but unpre

[2020-09-29 10:48] JobDoesburg commented on #1260
Maybe also nice to show it like this
<img width="313" alt="image" src="https://user-images.githubusercontent.com/7915741/94549116-00449300-0252-11eb-909a-c86336afa90d.png">

[2020-09-29 11:02] mariesophiesimon commented on #965
Hey, so the board decided that it would be nice to have the Thabloid completely private, so like the photos you should only be able to see them once you are logged in as a Thalia member. If recruiters want to see Thabloids we will handle that differently, but this seemed like the best option to us to really avoid all issues with people just randomly finding the Thabloid.

[2020-09-29 15:24] se-bastiaan commented on #1143
I am pretty sure this was solved, since I did exactly this yesterday in my demo.

[2020-09-29 15:24] #1143 closed

[2020-09-29 15:31] JobDoesburg commented on #1143
Correct, I fixed it in the TPay for renewals issue :)

[2020-09-29 20:01] #1255 closed

[2020-09-29 21:13] #1252 closed

[2020-09-29 21:22] #1254 closed

[2020-09-30 14:33] pingiun commented on #1116
This can probably be found in https://github.com/svthalia/concrexit/tree/master/website/events/templates/events

[2020-09-30 14:35] pingiun commented on #777
I think this should be closed. If we want to do something like this, maybe implement it in the discord bot. I don't think members are waiting for automated push notifications on their birthday

[2020-09-30 14:38] #777 closed

[2020-09-30 18:18] #1176 closed

[2020-10-01 09:45] se-bastiaan commented on #1116
No, the colour is retrieved from the API.

[2020-10-01 09:47] joren485 commented on #1245
The one thing that is missing for me in this proposal is what happens to the Paparazcie photo archive if this change is implemented. Are you proposing that the Technicie will manage the fullres archive (through S3) and the Paparazcie does not have the fullres archive anymore?

[2020-10-01 09:49] JobDoesburg commented on #1245
Yes. Paparazcie doesn’t need the archive either. Whenever we want a fullres photo we can just download it from the website in fullres

[2020-10-03 13:07] joren485 opened #1290 "Move TODOs to issues"
### Describe the change
Move all `TODO`s in the code to issues.

### Motivation
`TODO`s in the code means that there is some issue to solve. These issues are not easily visible by developers. It would be better to have them as issues on GitHub (along with all other issues).

### Additional context
[code]

[2020-10-03 13:18] #586 closed

[2020-10-03 13:18] #582 closed

[2020-10-03 14:14] se-bastiaan opened #1291 "Newsletter HTML is not saved when sending"
### Describe the bug

Newsletter HTML is not saved when sending

### How to reproduce
Steps to reproduce the behaviour:
1. Create a newsletter
2. Send it
3. An HTML file should be saved to the media folder
4. But your newsletter is not there

### Expected behaviour

There should be an HTML file saved upon sending the newsletter. This HTML is the state of the newsletter when sending, which retains

[2020-10-03 14:16] se-bastiaan commented on #1291
Note: There is code that creates the HTML files and is used in a management command. However, this code expect a request object to be passed to the template. This was previously required since the baseurl tag depended upon this object. However, the tag has been changed since and I believe it should be possible to generate the HTML without passing the request object. That would make your life easie

[2020-10-03 14:46] se-bastiaan commented on #1291
Okay I just found out that there is actually a call to `write_to_file` instead of `save_to_disk` in the email sending code. Not sure but based on the fact that there are only 137 files in the newsletters directory on the server makes me think something is still wrong.

[2020-10-03 15:42] joren485 opened #1294 "Use pydocstyle to check documentation"
### Describe the change
Add [`pydocstyle`](https://github.com/PyCQA/pydocstyle/) as a linter.

### Motivation
`pydocstyle` is a linter that checks the documentation of code according to [PEP 257](https://www.python.org/dev/peps/pep-0257/). This will improve the overall documentation, because developers are forced to write basic documentation (a tedious, but important part of development).

### Sug

[2020-10-03 16:13] se-bastiaan commented on #1294
How does this match the docstring checking of pylint? (#1292)

[2020-10-03 18:15] joren485 commented on #1294
`pylint` has a few checks on documentation (3 as far as I can tell, `missing-module-docstring`, `missing-class-docstring`, `missing-function-docstring`). `pydocstyle` has many more and does not only check for the existence of docstrings, but also whether their contents match with PEP 257.

[2020-10-04 09:50] #1256 closed

[2020-10-04 12:36] #1291 closed

[2020-10-05 09:12] se-bastiaan commented on #1262
I don't think a batch necessarily needs a UUID as pk, so removing the custom field and altering the schema to use a regular AutoField has my preference.

[2020-10-05 09:13] se-bastiaan commented on #1200
@pingiun Maybe it is nice to have a bullet point todo list at the start of this issue to mark what we need to do to close this issue?

[2020-10-05 09:14] pingiun commented on #1200
Good idea, I will collect a list

[2020-10-05 18:39] mariesophiesimon opened #1297 "More convenient way of selecting Album cover photo"
### Is your feature request related to a problem? Please describe.
Right now it is only possible to select an album cover photo after uploading the whole album and then going back to select the file name, that should be the cover.

### Describe the solution you'd like
It would be nicer if it would be possible to choose the album cover already in the first step, so while uploading the photos.

###

[2020-10-05 19:10] #1142 closed

[2020-10-05 20:01] sentry-io[bot] opened #1301 "TypeError: '<' not supported between instances of 'datetime.date' and 'NoneType'"
Sentry Issue: [CONCREXIT-3T](https://sentry.io/organizations/thalia/issues/1937285207/?referrer=github_integration)

[code]

[2020-10-05 20:10] #1301 closed

[2020-10-05 20:40] JobDoesburg opened #1304 "Use cached dependencies on GitHub actions"
### Describe the change
Use cached dependencies on GitHub actions

### Motivation
Decrease CI time

### Current implementation
We don't properly cache

### Suggested implementation
Properly cache

### Additional context
You could look at [https://github.com/GipHouse/Website/blob/master/.github/workflows/ci.yaml](https://github.com/GipHouse/Website/blob/master/.github/workflows/ci.yaml)

[2020-10-05 20:42] JobDoesburg opened #1305 "Use utils.snippets.send_email in everywhere"
### Describe the change
Use `utils.snippets.send_email` in all apps. For example, in `registrations` we use our 'own' `_send_email` and `payments` uses the one from `registrations`. They should all use `utils` in fact to centralize this code.

### Motivation
Less code is more better

### Current implementation

### Suggested implementation

### Additional context
Maybe we should also check `events

[2020-10-05 20:43] #1229 closed

[2020-10-06 10:07] se-bastiaan opened #1307 "Cannot remove scheduled notifications"
### Describe the bug
Cannot remove scheduled notifications

### How to reproduce
Steps to reproduce the behaviour:
1. Go to a notification
2. Delete it
3. Get a gateway error

### Expected behaviour
Message is successfully removed

[2020-10-06 10:07] se-bastiaan commented on #1307
I also think that messages are not removed when an event is unpublished but I could not confirm that behaviour

[2020-10-09 18:55] se-bastiaan opened #1311 "Tell Sentry well we release a new version"
### Is your feature request related to a problem? Please describe.

Sentry has the ability to take notice when a new version of your project is released. We currently have no version data in Sentry except for git hashes.

### Describe the solution you'd like

https://docs.sentry.io/product/releases/#install-repo-integration

### Motivation

This makes it easier to connect problems to a release.

#

[2020-10-12 18:02] Jorritboer opened #1315 "Event information is not automatically filled in in newsletter"
### Describe the bug
When making the newsletter and selecting the events to show it doesn't automatically fill in all the information about an event when you select one.

### How to reproduce
Steps to reproduce the behaviour:
1. Make a new newsletter
2. Click on 'Add another newsletter event'
3. Select an event in the dropdown menu
4. See that it doesn't fill everything in automatically

### Expec

[2020-10-12 18:07] Jorritboer opened #1316 "Newsletter has text asking if the newsletter is in your preferred language that should be removed"
### Describe the bug
On the bottom of the newsletter it has a text asking if the newsletter is in your preferred language and if it's not you can edit your profile. This is not the case anymore with the website going full English so should be removed.

### How to reproduce
Steps to reproduce the behaviour:
1. Look at the bottom of the newsletter.

### Expected behaviour
The text not being there.

[2020-10-12 18:27] se-bastiaan commented on #1315
The javascript that controls this form autofill can be found here: https://github.com/svthalia/concrexit/blob/master/website/newsletters/static/admin/newsletters/js/forms.js

[2020-10-12 19:01] KiOui opened #1318 "API endpoints for slide models"
### Is your feature request related to a problem? Please describe.
We want to build the website sliders in the app. For that we need to be able to get the website sliders from the API.

### Describe the solution you'd like
There should be an API feature such that the app is able to get the current website sliders.

[2020-10-12 19:04] se-bastiaan commented on #1318
Not necessarily really _easy_ but it should be doable looking at how it is done in other apps. For example the partner api, that one is also quite basic.

[2020-10-12 19:06] #1261 closed

[2020-10-12 19:06] #1316 closed

[2020-10-12 19:10] #1005 closed

[2020-10-15 09:17] JobDoesburg commented on #1305
Actually I think we should use this everywhere where we send emails

[2020-10-15 09:20] JobDoesburg commented on #971
I think if we implement #1305 the maintainability should not be too much of a problem. And it looks really nice. I mean, look at this beauty:
![Uploading Schermafbeelding 2020-10-15 om 11.19.48.png…]()

[2020-10-15 11:43] se-bastiaan commented on #971
Screenshotting an automatically dark mode changed email does not count :p

[2020-10-17 10:38] #965 closed

[2020-10-17 10:40] #1262 closed

[2020-10-17 10:42] se-bastiaan commented on #1259
This is a duplicate of https://github.com/svthalia/concrexit/issues/947

[2020-10-17 10:42] #1259 closed

[2020-10-17 10:43] se-bastiaan commented on #1304
This will not really decrease the CI time, since our dependencies are contained inside the Docker image already.

[2020-10-17 10:43] se-bastiaan commented on #1297
I don't think this is possible, you don't have the files yet so you cannot choose a file.

[2020-10-17 10:44] se-bastiaan commented on #1081
Let's close this, I don't really see us doing this if it is more complex than what we have already.

[2020-10-17 11:33] #1260 closed

[2020-10-17 12:42] chrysillala commented on #1100
Hi, I would like to work on this issue as part of Hacktoberfest. Could you please assign and guide me? Thanks!

[2020-10-17 13:19] JobDoesburg opened #1328 "Deleting a user results in a full crash"
### Describe the bug
Have a user with profile and payments and such. If we try to delete the user, Django will crash completely:

[code]

### How to reproduce
1. have a user with a profile and payments
2. try to delete the user (via the auth user admin)

### Expected behaviour
Not crash (but disallow deleting? as we don't want it, we can only minimize their data)

### Screenshots
If applicable, ad

[2020-10-17 13:22] JobDoesburg opened #1329 "Manually creating users not possible"
### Describe the bug
When trying to create a user manually (so not via the `registrations` app), Django shows a `FieldError`:

[code]

### How to reproduce
1. Open the user admin
2. Hit the + button Add User
3. Crash

### Expected behaviour
Not crash

### Screenshots

### Additional context

[2020-10-17 13:34] JobDoesburg opened #1331 "Admin PaymentWidget can crash if payable.payment_payer returns None"
### Describe the bug
After #1320, the PaymentWidget (`payments/widgets.py`) can crash if the `payment_payer` is `None`, for example for `registrations`.

### How to reproduce
Steps to reproduce the behaviour:
1. Make a registration
2. Accept it (so the payment widget will appear)
3. Crash

### Expected behaviour
Not crash (we can just feed `None` to the html template)

[2020-10-17 13:37] JobDoesburg commented on #1329
I see it is duplicate of #1242

[2020-10-17 13:37] #1329 closed

[2020-10-17 14:50] pingiun commented on #1100
Hey @chrysillala, thanks for checking this out. The main css files are [main.css](https://github.com/svthalia/concrexit/blob/f955c402c5a6e65639652d4d5c42002126f4c382/website/thaliawebsite/static/css/main.scss) and [main-dark.css](https://github.com/svthalia/concrexit/blob/f955c402c5a6e65639652d4d5c42002126f4c382/website/thaliawebsite/static/css/main-dark.scss)

As you can see, these use scss impor

[2020-10-19 08:26] JobDoesburg commented on #1081
I don't really agree. I do think it is a nice thing to do, as defining `ModelResource`s is not very hard to do and it does make your code really nicely readable.

[2020-10-20 08:10] JobDoesburg commented on #945
I think that with #1002 this is not a problem anymore

[2020-10-20 08:15] JobDoesburg commented on #1004
Solved in #1044

[2020-10-20 08:15] #1004 closed

[2020-10-20 08:23] #1331 closed

[2020-10-20 08:29] se-bastiaan commented on #945
No I don't think so, the username of the registrations should already be determined after accepting and thus _before_ the payment is processed.

[2020-10-20 13:06] #992 closed

[2020-10-20 13:25] #1257 closed

[2020-10-20 13:25] #1258 closed

[2020-10-20 13:25] #947 closed

[2020-10-20 13:54] JobDoesburg opened #1342 "Use Django permission for event permissions instead of ChoiceField"
### Describe the change
Currently, the `Profile` model contains a field that states whether `Member`s  are allowed to attend borrels and/or events. This information, however, is only used/relevant for the `events` app. Therefore it would be nicer to separate logic, just as we did with `PaymentUser`s in `payments`:

- create an `EventUser` proxy model of `Member`
- add custom Django permissions `ca

[2020-10-20 14:00] se-bastiaan commented on #1342
Personally I do not believe you really need a separate admin with actions for this, since there are only a few users that are affected by these changes.

[2020-10-20 14:06] se-bastiaan commented on #1342
I'm not sure if this is really the best idea for the `can_attend_borrels` value. Since we don't use it in the website it should either be removed or kept the way it is.

I have no clue if it is even used.

[2020-10-20 21:38] JobDoesburg opened #1343 "Better align local and main partners"
### Is your feature request related to a problem? Please describe.
If the local and main partner images are not of the same height, the `career` page does not align them correctly.

### Describe the solution you'd like
Change the HTML to align the titles

### Motivation
The current alignment hurts

### Describe alternatives you've considered
An eye patch, but that decreases usability of other feat

[2020-10-21 10:29] JobDoesburg opened #1345 "Can't set registration information fields from admin (for non-member registrations)"
### Describe the bug
It is not possible to manually set the event registration information fields from the admin. This is quite problematic when adding non-member's registrations

### How to reproduce
Steps to reproduce the behaviour:
1. add a manual event registration
2. try to edit the information fields (this works)
3. you cannot save it

### Expected behaviour
It should save

[2020-10-21 14:09] megamichiel opened #1348 "Cannot add Partner postal code of another country"
### Describe the bug
I felt like this was in between a feature request and bug, but decided to make it a bug report since this bugs me.
When adding/editing a Partner in the site administration, the company address only accepts valid postal codes from the Netherlands (1234AB). We have a new partner ([https://thalia.nu/career/partners/exellys/](https://thalia.nu/career/partners/exellys/)) that only

[2020-10-21 15:11] chrysillala commented on #1100
Hi @se-bastiaan, kindly check my PR here https://github.com/svthalia/concrexit/pull/1349
Thanks!

[2020-10-21 15:54] #1100 closed

[2020-10-21 15:59] se-bastiaan commented on #1348
Nice, I think we should just change the way these addresses are entered and mimick the way we do this for members since those fields support addresses all over Europe. Some corners were cut here (and we have not had foreign sponsors apparently)

[2020-10-24 10:44] sentry-io[bot] opened #1352 "Profile page crashes when not logged in"
Sentry Issue: [CONCREXIT-40](https://sentry.io/organizations/thalia/issues/1976140555/?referrer=github_integration)

[code]

Steps to reproduce:
1. Open https://thalia.nu/members/profile/ in Incognito mode

[2020-10-25 19:11] JobDoesburg opened #1354 "Event descriptions can be very long in newsletter"
### Is your feature request related to a problem? Please describe.
Some events have a very long event description text. When those are added to a newsletter, it becomes a hell to read

### Describe the solution you'd like
Some ideas:

- automatically trim the event descriptions to the first _x_ words for the news letter and add a 'read more' button
- refactor events to have a 'event description' a

[2020-10-25 19:17] se-bastiaan commented on #1354
So you want to fix the laziness of the secretary? The secretary is the one responsible for the newsletters, not us. Even though I do agree that some events have really long descriptions this should not be something _we_ need to fix.